[2015-03-21 22:02] keszybz opened #12 "policy/modules/contrib points at a dead repo"
http://oss.tresys.com/git/refpolicy-contrib.git is gone.

[2015-06-23 10:42] wrabcak commented on #12
commit 46152fba614c8e1ed9277de3e536f19a5319951f
Author: Lukas Vrabec <lvrabec@redhat.com>
Date:   Mon Nov 3 14:34:24 2014 +0100

    Fix wrong url link to upstream.

[2015-06-23 10:42] #12 closed

[2015-09-21 17:38] leamas opened #38 "lircd needs some new permissions."
since 0.9.2 (f22) lircd's default mode is to drop the root privileges and run as the system user 'lirc'. This causes AVC denials, muted by the following .te file:
[code]
No idea what to do with this...

EDIT: lirc lives in fedora + EPEL.

[2015-09-21 21:49] mgrepl commented on #38
It makes sense. Basically you want to submit a patch with

allow lircd_t self:capability { setuid setgid dac_override };
auth_read_passwd(lircd_t)

for lircd.te.

See Wiki for more details how to do it.

Thank you  that you are testing it with enabled SELinux.

[2015-09-21 22:00] leamas commented on #38
I'm so utterly lost here... is there a process document somewhere? The patch mechanics is no problem, but which is the file to patch?  userdomain.if ? And with the patched file at hand, how do I test it?

Feeling dumb.

[2015-09-22 08:38] mgrepl commented on #38
Ok, no problem. I will update it by real examples to make it easier for understanding.

[2015-09-27 14:41] leamas commented on #38
Here is seemingly some naming mess: https://lists.fedoraproject.org/pipermail/selinux/2015-September/016888.html

[2015-09-29 09:14] leamas opened #39 "The name of the lircd module is not correct"
The lircd module  describes permissions for the /dev/lirc[0-9] devices, defining the type *lirc_device_t*. All this looks fine.

However, I think the module name *lircd* is, well, "not ideal".lircd is a user space daemon which basically isn't  related to the kernel devices in any specific way (although it is the primary user of this interface). IMHO, the kernel selinux module should be named *lirc

[2015-09-29 10:51] doverride commented on #39
I think you may be confused? See below the lircd module:

https://github.com/fedora-selinux/selinux-policy/blob/rawhide-contrib/lircd.te

As you can see lirc_device_t is not declared there

[2015-09-29 11:07] leamas commented on #39
Yes, I am confused. This is basically about issue #38, but I just cannot find any reasonable documentation.  I'll close close this bug, invalid, but the question for me is how to get hold of that lircd.te file. Checking out selinux-policy doesn't seem to do the trick...

[2015-09-29 11:07] #39 closed

[2015-09-29 11:20] mgrepl commented on #39
Yes but still lircd module name probably is not ideal. It is something what we were discussing with @doverride  also for other policy modules.

Basically it is a package name against a service name.

[2015-09-29 11:22] leamas commented on #38
At last. Pull request #40 submitted , closing this bug. Sorry for the mess.

[2015-09-29 11:22] #38 closed

[2015-09-29 11:32] doverride commented on #39
@leamas I suppose your confusion is with Git then? You may need to checkout the appropriate branch "rawhide-contrib" (something like git checkout -b rawhide-contrib)

[2015-09-29 11:39] mgrepl commented on #39
Good point. I would update wiki on Fedora policy github with an explanation why we have two branches.

[2015-09-29 11:42] doverride commented on #39
@mgrepl I am not sure if i understand what you mean, but do not see the problem. I actually like that since the lircd policy module only covers the lircd command and the files it maintains. This makes things more modular and provides better integrity. If you group various domains into a single module then that limits ones options to exclude domains. Simply because they are defined in the same modu

[2015-09-29 11:53] doverride commented on #39
It also makes the modules smaller.

Modules like "irc" that basically has a single domain that tries to cover all conceivable irc clients are a bad idea. You will end up with a domain that is broader than it need to be.

I rather provide 10 modules each for their own irc client than one that piles them all into a single domain which makes that domain broader than strictly needed thereby degrading

[2015-09-29 11:54] mgrepl commented on #39
My point is we have some module name issues with upstream where we use it in this way (lircd.pp) but upstream uses lirc.pp convention. But I like see you changed your mind. But still I don't see a reason to have systemd-machined,systemd-udevd,.... policies alone for example.

So I believe it is about a balance. There is a chance a CLI tool  will communicate with a service and you will end up with

[2015-09-29 11:56] doverride commented on #39
@mgrepl systemd is suppose to be modular (e.g. systemd-machined is optional) we should support that and also make the systemd-machined policy optional.

But also by seperating these policies you make the modules smaller which provides a clearer view.

[2015-09-29 12:02] doverride commented on #39
Oh and yes, you are right. I did change my mind on this topic. I prefer "lircd" now, where i would have prefered "lirc". One never stops learning. However you must also keep in mind that I now maintain my own policy and so i no longer have to work with others and no longer have to compromise on such issues.

[2015-09-29 12:09] mgrepl commented on #39
Yeap, I know and I can not agree with all your points here. I still believe it makes sense to merge some domains together. For example cluster services. They do the same things and they do everything and we want to have them under control for a communication with other domains. So I see it as a benefit to have the same domain for them.

BUT of course another question is an implementation. Should w

[2015-09-29 12:16] doverride commented on #39
@mgrepl I suppose the question is "will it make the policy simple, secure and usable in the long run"

If your customer has a "security" requirement to remove some domain that is piled into a single module that has a bunch of other domains that the customer needs, or if your customer objects to some rule that was added to some domain to support some other "similar" process, and wants to remove it

[2015-09-29 12:27] mgrepl commented on #39
Sure and I believe it is a key point related to profiling. I can agree have services coming from different products, packages in a single module is probably wrong. This is what I learned. It stops modularity, profiling.

But it is a probably good idea to provide an attribute for them to cover most of rules.

Another story is about services coming from a single package. Here I don't see a big benef

[2015-09-29 12:36] doverride commented on #39
I think we do not disagree that much but I think we do disagree on when to "assume" or when to "err on the safe side"

I personally choose to not assume at all, and err on the safe side. Software evolves. something might make sense to merge now but it may later turned out the be a bad call. There is no harm in seperating as long as the seperation is actually used, taken advantage of.

Sure if does

[2015-09-30 09:03] mgrepl commented on #39
Yeap, it is ;-)

[2015-10-02 12:23] leamas opened #45 "Issue 41 is not visible"
For some odd reason #41 is not visible as an open issue. Any hint?

[2015-10-02 12:25] bachradsusi commented on #45
If I get it right, it's a pull request not an issue, see https://github.com/fedora-selinux/selinux-policy/pulls

[2015-10-02 12:26] leamas commented on #45
Yup, sorry, Once upon time a time pull requests was visible also as issues, but apparently not now...

[2015-10-02 12:26] #45 closed

[2015-10-12 07:21] mgrepl opened #49 "Merging insmod_t and depmod_t types together"
Based on upstream communication we should merge these types together and have kmod_t. There is no security benefit to have have them as separate types. Even depmod is a symlink to kmod.

See

http://oss.tresys.com/pipermail/refpolicy/2015-October/007758.html

for more details.

[2015-10-15 18:01] 1dot75cm opened #53 "type syntax error"
@doverride
I found some the "`type`" error in interface(`.if`).

（Book: SELinux by Example Using Security Enhanced Linux）

But I see the following statement. The "`urandom_device_t`" is the **attribute** or the second **type**? I have seen hundreds of such an approach in the interface.
[code]

The `gen_require` macro definition：
[code]

So, This is the correct wording.
[code]

[2015-10-15 18:14] doverride commented on #53
Aren't you supposed to be asleep?

I think this might be a mistake in the SELinux by example book, because I do not believe that this is a bug.

This should work fine:
[code]

[2015-10-15 19:41] 1dot75cm commented on #53
:), Yes, I searched for this page（http://selinuxproject.org/page/PolicyStatements）.

In fact, the `require` block is not considered `type` of grammar. According to my understanding.

[2015-10-15 19:55] 1dot75cm commented on #53
Thanks @doverride. Now, I can sleep well. have a nice day. :)))))))))))

[2015-10-15 19:57] #53 closed

[2015-10-26 16:54] jamielinux opened #56 "Summary for userdom_user_tmp_content seems incorrect"
The summary for `userdom_user_tmp_content` doesn't seem correct.

https://github.com/fedora-selinux/selinux-policy/blob/d7237bffe494213af8656bc60a55b8330ee10239/policy/modules/system/userdomain.if#L1854

    Allow domain to attach to TUN devices created by administrative users.

`userdom_attach_admin_tun_iface` has exactly the same summary.

[2015-10-26 17:01] jamielinux opened #57 "Interface is called `usedom` instead of `userdom`"
`usedom_dontaudit_user_getattr_tmp_sockets` interface has a name that differs from what one might expect.

Seen in `xserver.if` on [Line 1396](https://github.com/fedora-selinux/selinux-policy/blob/bb2ee60e8de5f783be5b4cd617c574e48978d9c3/policy/modules/services/xserver.if#L1396) and [Line 1397](https://github.com/fedora-selinux/selinux-policy/blob/bb2ee60e8de5f783be5b4cd617c574e48978d9c3/policy/mo

[2015-10-26 17:44] doverride commented on #56
Copy and paste error, but i also find it important that interfaces have accurate summaries. I believe that this will, at least to some extend, lower the barrier of entrance for users. (people use the interface browser to look up what functionality interface provide, and if that is a mess then that is a turn off)

It's  kind of like a business card of SELinux policy.

[2015-10-26 18:44] doverride commented on #57
This looks fine to me. The two interfaces in xserver.if are deprecated and redirecting to the one in userdomain.if

[2015-10-26 20:04] doverride commented on #57
Oh err, sorry I overlooked the topic. Yes it should be userdom instead of usedom

[2015-10-27 09:26] mgrepl commented on #56
Thank you for reporting this issue.

How about

        ##  Make the specified type usable as a
        ##  user temporary content.

[2015-10-27 09:33] mgrepl commented on #57
Thank you, I added fixes.

[2015-10-27 09:33] #57 closed

[2015-10-29 11:54] mgrepl opened #59 "/usr/libexec/abrt-hook-ccpp should have own domain"
We labeled /usr/libexec/abrt-hook-ccpp as abrt_dump_oops_exec_t to have it running in abrt_dump_t if it invoked by kernel. The problem is it want to access/create random files on a system. So it should go with a new domain which will be probably also unconfined domain.

[2015-11-02 16:22] wrabcak commented on #59
Hi Mirek!
Do you have any idea of this new domain name? I agree with new domain and make it as unconfined domain.

[2015-11-05 07:16] jfilak commented on #59
What about "core_dumper_t"? Anyway, please fix this issue ASAP.

[2015-11-09 08:38] mgrepl commented on #59
We need to discuss it more.

[2015-11-09 14:09] #59 closed

[2015-11-09 14:39] mgrepl commented on #59
Has been fixed by

https://github.com/fedora-selinux/selinux-policy/commit/38ee3cc4af928a1941426e1eff4fb11b5a355bfb

[2015-11-27 12:21] mgrepl opened #74 "RFE: Review and turn mozilla_plugin_can_network_connect boolean on"
https://bugzilla.redhat.com/show_bug.cgi?id=1286177

[2015-11-27 13:08] doverride commented on #74
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On Fri, Nov 27, 2015 at 04:21:26AM -0800, Miroslav Grepl wrote:

Firefox and other browsers are actively discouraging the use of
plugins. I believe only Flash is still supported, and it does not have
such a good track record when it comes to security.

With that said, opening up network access is not such a big deal as
there should probably be a net

[2015-11-27 13:31] mgrepl commented on #74
Time. We are talking about a time and about a lesson which a time gives us (fortunately).

[2015-11-27 14:12] doverride commented on #74
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On Fri, Nov 27, 2015 at 05:31:40AM -0800, Miroslav Grepl wrote:

Please do not take offense but allow me to make a potential time-saving
suggestion.

Instead of forcing selinux policy on users and customers, and then abstracting away
much of the essence of selinux in an futile attempt to make it
acceptable, try a different approach that will not giv

[2015-11-27 14:38] mgrepl commented on #74
I believe you did not understand me here. I was talking about a time in the different meaning. I mean you do something (add new policies, new booleans ...) with a clear conviction it is correct. And yes, it can be correct but it can show as a bad way over time.

It is my point here. We learn every day.

[2015-11-27 15:00] doverride commented on #74
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On Fri, Nov 27, 2015 at 06:38:31AM -0800, Miroslav Grepl wrote:

Thanks, I understood perfectly clear. This is exactly the point i am
making as well, except that I would like to add to that: "fail early"

- --
02DFF788
4D30 903A 1CF3 B756 FB48  1514 3148 83A2 02DF F788
https://sks-keyservers.net/pks/lookup?op=get&search=0x314883A202DFF788
Dominick G

[2015-11-27 16:04] mgrepl commented on #74
What I believe is happening.

It is a reason why we create github issues and so on to discuss important things.

[2015-11-30 09:00] mgrepl opened #75 "init_t domain should be running without unconfined_domain attribute"
Currently, init_t domain is a default domain for systemd  and runs as unconfined domain by default. It causes issues like

https://bugzilla.redhat.com/show_bug.cgi?id=1274345

and also it can mask possible security flaws.

We should have init_t running correctly without unconfined_domain attribute by default:t.

[2015-11-30 09:00] mgrepl commented on #75
I am working on this task.

[2015-11-30 09:02] mgrepl opened #76 "systemd-rfkill runs as init_t instead of own domain"
DESCRIPTION

       systemd-rfkill.service is a service that restores the RF
       kill switch state at early boot and saves it on each
       change. On disk, the RF kill switch state is stored in
       /var/lib/systemd/rfkill/.

[2015-11-30 09:02] mgrepl commented on #76
I have a working policy and testing it.

[2015-11-30 12:22] mgrepl commented on #76
Fixed by https://github.com/fedora-selinux/selinux-policy/commit/7a29d2c4dcc4d2f4dfcb6949fa6c5ba2289c6ccb.

[2015-11-30 12:22] #76 closed

[2015-11-30 12:23] mgrepl commented on #75
Fixed by https://github.com/fedora-selinux/selinux-policy/commit/015047e1d962173e3789af3fad86198a3b5e3ac2.

[2015-11-30 12:23] #75 closed

[2015-11-30 12:39] wrabcak commented on #74
Changed default value of mozilla_plugin_can_network_connect to 'True'. Change is included in selinux-policy-3.13.1-161.fc24.
Thank you for discussion, closing.

[2015-11-30 12:39] #74 closed

[2015-12-03 12:41] wrabcak commented on #56
Backported to F23 and F22. Thank you for report.

[2015-12-03 12:41] #56 closed

[2015-12-03 14:31] wrabcak commented on #49
commit 45bf79c0a6cec51b02eae2fce323718d0e3ad3d7
Author: Lukas Vrabec <lvrabec@redhat.com>
Date:   Thu Dec 3 13:31:38 2015 +0100

    Merge insmod_t and depmod_t to kmod_t

Fixed in version: selinux-policy-3.13.1-162.fc24

[2015-12-18 10:33] mgrepl opened #85 "systemd-hwdb should be confined"
$ ls -lZ /usr/bin/systemd-hwdb
-rwxr-xr-x. 1 root root system_u:object_r:bin_t:s0 70512 Dec 10 14:09 /usr/bin/systemd-hwdb

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-hwdb update

[2016-03-07 13:03] wrabcak commented on #85
https://github.com/fedora-selinux/selinux-policy/commit/8fe9871a1f2b50cfd55ff6dee41e9c001c3ad9d3

[2016-03-07 13:03] #85 closed

[2016-03-20 08:13] rlpowell opened #112 "Changelog not updated."
This makes it hard to figure out the association between a particular release and a particular state in github.

[2016-03-22 11:43] wrabcak opened #113 "neverallow violated by allow sandbox_* unlabeled_t:file { entrypoint };"
commit ef3466fd3ffe2e3b7ddcd886e6d3e349ce74a143
Author: Miroslav Grepl <mgrepl@redhat.com>
Date:   Tue Mar 22 09:49:22 2016 +0100

    Add neverallow assertion for unlabaled_t to increase policy security.

This commits violated this errors:
libsepol.report_failure: neverallow violated by allow sandbox_x_client_t unlabeled_t:file { entrypoint };
libsepol.report_failure: neverallow violated by allow

[2016-03-22 11:56] rhatdan commented on #113
I think this neverallow rule is too strict.  We have lots of domains which are used for containers where the underlying files might not be labeled.

spc_t is a case where docker has disabled labeling of devicemapper devices but still has SELinux enabled on the machine, so we have a rule that says docker_t executing unlabeled_t gets spc_t.

[2016-03-22 12:14] mgrepl commented on #113
See our ongoing conversation on selinux-internal-list and also our conversation with upstream.

[2016-03-22 12:26] doverride commented on #113
I guess might be worth it to split out file/unlabeled again. Just because docker needs to be able to operate on file does not mean it is a good idea to also let that apply to unlabeled.

[2016-03-22 12:57] rhatdan commented on #113
You mean break out unlabeled_t from UNKOWN_T.  Not sure how specifying a transition can happen on a file without a label versus one with a label that the kernel does not understand, makes a difference.

[2016-03-22 13:02] doverride commented on #113
Well because an invalid label clearly means there is a something wrong with the consistency of policy versus labeling. Whereas no label means that the file system is not labeled (yet). Just saying that differentiating *might* be worth it in this case

[2016-03-22 13:08] mgrepl commented on #113
Yes. I believe we really want to keep this rule. The another question is whether we have correct labeling - unlabeled_t for all cases here.

[2016-03-22 14:20] doverride commented on #113
Anyway rhatdan: i think i understand what you are getting at. whether invalid label or no label at all you want spc_t to be able to operate on it. I think that probably sets a less-than-optimal precedence. I think i understand where you are coming from though. You want the experience to be painless.

Keep in mind though that by saying: "lets allow spc_t to operate on invalid and unlabeled objects"

[2016-03-22 14:30] mgrepl commented on #113
I understand both cases. I think we can add an attribute needed to "break" this neverallow check.

[2016-03-22 14:39] pcmoore commented on #113
Yes, we need this neverallow rule; in my mind there is *never* a good reason for giving out access to unlabeled_t; unlabeled_t should be a sentinel type that indicates something has gone very wrong and needs to be dealt with by a real person (most likely a call to restorecon in the general use case).  Allowing access to unlabeled_t is a security risk and we shouldn't allow it.

If Docker, or any o

[2016-03-22 15:06] doverride commented on #113
That would really take the cake. nulling neverallow to null the unlabeled/file isids

[2016-03-22 15:10] mgrepl commented on #113
@doverride  Well I don't understand you now. It is about "entrypoint" and I am talking about an attribute as we have for shadow_t for example.

[2016-03-22 15:10] mgrepl commented on #113
But I agree with @pcmoore.

[2016-03-22 15:13] doverride commented on #113
@mgrepl I suppose you're right. that was a bit ignorant of me. Sorry.

As for the entrypoint though, That ideally should not apply to just unlabeled_t in my view. It should apply to all types that arent entry_file_types()

[2016-03-22 15:23] doverride commented on #113
This is what i have in DSSP:

[code]

[2016-03-22 15:36] doverride commented on #113
Which roughly translates to: `dontaudit domain -exec_type:file entrypoint;`

[2016-03-22 21:42] rhatdan commented on #113
I will try to get docker to label the content even if SELinux is disabled in docker.  Always mount with a context mount.

[2016-03-23 09:37] wrabcak commented on #113
SELinux policy build looks fine with fixes by Mirek.

Thank you guys.

[2016-03-23 09:37] #113 closed

[2016-04-15 00:38] keszybz opened #120 "Support for systemd /run/systemd/transient directory"
https://github.com/systemd/systemd/commit/3959135139 added a new directory for unit files `/run/systemd/transient`. It should be labelled ` system_u:object_r:systemd_unit_file_t:s0`, the same as `/run/systemd/system`, PID 1 will write units there.

I'm seeing the following avc:

Apr 14 19:41:22 rawhide audit[1]: USER_AVC pid=1 uid=0 auid=4294967295 ses=4294967295 subj=system_u:system_r:init_t:s0 m

[2016-04-15 00:49] keszybz opened #121 "Allow systemd to read efivars"
Apr 14 20:42:21 rawhide audit[1]: AVC avc:  denied  { read } for  pid=1 comm="systemd" name="LoaderTimeInitUSec-4a67b082-0a4c-41cf-b6c7-440b29bb8c4f" dev="efivarfs" ino=9245 scontext=system_u:system_r:init_t:s0 tcontext=system_u:object_r:efivarfs_t:s0 tclass=file permissive=0

systemd tries to read a bunch of efi vars: `LoaderTimeInitUSec`, `LoaderTimeExecUSec`, `LoaderDevicePartUUID`. It's probab

[2016-04-15 00:50] keszybz commented on #121
Relavant part of systemd code: https://github.com/systemd/systemd/blob/09541e49ebd17b41482e447dd8194942f39788c0/src/shared/efivars.c#L653-703

[2016-04-15 00:57] keszybz commented on #121
In permissive mode:

Apr 14 20:55:00 rawhide kernel: audit: type=1400 audit(1460681700.163:45): avc:  denied  { read } for  pid=1 comm="systemd" name="LoaderTimeInitUSec-4a67b082-0a4c-41cf-b6c7-440b29bb8c4f" dev="efivarfs" ino=9112 scontext=system_u:system_r:init_t:s0 tcontext=system_u:object_r:efivarfs_t:s0 tclass=file permissive=1
Apr 14 20:55:00 rawhide kernel: audit: type=1400 audit(1460681700

[2016-04-19 05:44] mgrepl commented on #120
Ok it looks reasonable. In which systemd version I can see the change to reproduce it?

Thank you.

[2016-04-19 11:59] keszybz commented on #120
It's unreleased yet. It'll be in systemd-230.

[2016-05-16 12:16] wrabcak commented on #121
Commit ad2ebdab4061abde7ee3f8b35a2640ca604bb534 fixed this issue.

[2016-05-16 12:16] #121 closed

[2016-05-23 13:13] wrabcak opened #126 "Add typebounds for user domains"
Commits 8105d068226f1b7f0a1121c2dcc5ab57c80858bf  and c286c5d9d28f091aff8c5e1ed809f0d15291d944
makes sense to add to fedora distro selinux-policy. But we need to add/remove conflicting rules. Actually, fedora rawhide package build is broken due this change. Reverting for now, and will be fixed in future.

[2016-05-23 13:22] wrabcak commented on #120
Thank you for help @keszybz !

[2016-05-23 13:22] #120 closed

[2016-06-16 07:11] zfyseu opened #134 "In the selinux policy.29 of fedora, can "httpd" access to "passwd_file_t"?"
Hello,everyone!
I have followed the link "https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Security-Enhanced_Linux/chap-Security-Enhanced_Linux-Targeted_Policy.html#sect-Security-Enhanced_Linux-Targeted_Policy-Confined_Processes" to examin the effect of selinux on fedora 23.
It did work. And "httpd" can't access to "samba_share_t".
However "httpd" can access to "passwd

[2016-06-16 07:38] vinzent commented on #134
there is no direct rule but an indirect one.

[code]

[2016-06-16 07:46] mgrepl commented on #134
Yes, you are correct. It comes from

        auth_use_nsswitch(httpd_t)

rule in apache.te to look up user, password, group, or host information.

[2016-06-16 07:46] #134 closed

[2016-06-16 07:47] mgrepl commented on #134
Thank for your question.

[2016-06-16 07:52] zfyseu commented on #134
Thank you all!
It's a great answer!

[2016-07-28 14:45] matthiasclasen opened #142 "Label flatpak installations appropriately"
Flatpak installs applications in a few places:

- System-wide applications: below /var/lib/flatpak/app
- System-wide runtimes: below /var/lib/flatpak/runtime
- Per-user applications: below $HOME/.local/share/flatpak/app
- Per-user runtimes: below $HOME/.local/share/flatpak/runtime

E.g.

/var/lib/flatpak/app/org.gnome.PortalTest/current/active/files/

is the root of the tree that gets mounted read

[2016-07-28 14:58] rhatdan commented on #142
We probably want to have one process type.  Something like sandbox_net_t, or a new one container_net_t.

* process types
** container_net_t

* File Types
** usr_t<br>We need to look at having a label for content on the host system that is read only.  I think we should just stick to usr_t, and allow the container_net_t to RX all usr_t.
**container_ro_t<br>We need a similar label for content in the

[2016-07-28 15:03] rhatdan commented on #142
@wrabcak @mgrepl PTAL

[2016-07-28 15:07] doverride commented on #142
On 07/28/2016 04:58 PM, Daniel J Walsh wrote:

Consider making MCSSEP optional and tunable runtime or at least
buildtime. MCS is an optional security model that provides optional
functionality of separation. If you depend on that then that is less
flexibility. MCS is compelling but just TE for integrity (not
separation) is also compelling on its own.

Also consider making the portal an SELinux obj

[2016-07-28 20:34] matthiasclasen commented on #142
Does this mean I need to skip c1,c2 when generating unique labels ? I didn't notice that in the docker code.

[2016-07-28 20:39] rhatdan commented on #142
For shared labels like the read/only ones you should just install with s0 labels, probably do nothing at all, and let SELinux handle it.  Only private content needs the c1,c2 stuff. When running an app for the first time, I would allocate the unique categories and label user  content and record it for the next time.

This way a second user using the same application would be able to share the read

[2016-07-28 20:48] matthiasclasen commented on #142
Yes, I'm doing all that. But the code I have for generating unique mcs labels might well generate
s0:c1,c2. I just want to know if I should skip this label because it has special meaning

[2016-07-29 11:58] rhatdan commented on #142
No sorry s0:c1,c2 is an example it has no special meaning.  s0 is special.

Let me explain.

MCS Policy is about dominance.  The category
s0:c1,c2 is allow full access (If type enforcement allows) to content with the MCS Labels

s0:c1,c2
s0:c1
s0:c2
s0

Now look at s0:c1,c3 it "dominates"

s0:c1,c3
s0:c1
s0:c3
s0

So s0:c1,c3 would not be allowed to access content labeled with s0:c1,c2.

There for

[2016-09-25 13:21] mscherer opened #158 "Reopen issue #12"
It seems that .gitmodules still point to the wrong repo on rawhide-base.

[2016-09-25 13:22] mscherer opened #159 "Split contrib and base in 2 git repository"
I do not know why things arelike this, but that's something that do surprise lots of people, and that make things a bit more difficult to do (for example, you need to think about opening a PR on the right branch because master is not working, the default page show just a readme, etc, etc)

Any reason on keeping things this way ? (as I never found the reason for this setup)

[2017-01-23 11:57] garyttierney commented on #159
ACK on this.  Currently cloning the repository via `git clone -b f25-base git@github.com:fedora-selinux/selinux-policy.git --recursive` produces a tree with a Fedora base policy and refpolicy contrib modules.  Trying to build / generate documentation for this tree results in a bunch of non obvious errors, and in the case that it does build, will produce an incorrect policy.

Can you consider fixin

[2017-01-23 21:24] wrabcak commented on #159
Agree here, I'll split this repo.

[2017-01-23 23:50] garyttierney commented on #159
Thanks @wrabcak!  It'd also be neat to have the API docs (i.e., `make html`, doc/html/) published like Tresys do but under the Fedora brand: http://oss.tresys.com/docs/refpolicy/api/.  I'm going to setup a CI job to publish them to my website in the meantime.

[2017-02-13 11:57] wrabcak commented on #159
Hi,
I created selinux-policy-contrib repo with contrib branches for fedora.
https://github.com/fedora-selinux/selinux-policy-contrib

[2017-02-13 11:57] #159 closed

[2017-04-27 09:07] driskell opened #195 "Consider changing default branch"
It's really useful to have a searchable repository, and unfortunately GitHub only allows search of the default branch.

As the default branch is master, with nothing but a README, this means the extremely useful search features are completely unusable.

Would you consider changing the default branch, to, perhaps, rawhide? It would then allow search functionality of the latest revisions. My use cas

[2017-05-02 06:13] gkarakou opened #196 "[RFE] Add boolean to toggle the state of (some) policy capabilities"
I think it would provide a nice enhancement to alter the state of policy capabilities like always_check_network with a simple but effective boolean. That way one would not have to recompile the entire policy.

[2017-05-02 07:10] ghost commented on #196
On Mon, May 01, 2017 at 11:13:31PM -0700, George Karakougioumtzis wrote:

requires selinux >= 2.4

echo '(policycap "always_check_network")' > always_check_network.cil && semodule -i always_check_network.cil

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8  02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2017-05-02 07:14] ghost commented on #196
On Mon, May 01, 2017 at 11:13:31PM -0700, George Karakougioumtzis wrote:

the challenge shouldnt be adding a polcap, the challenge is removing one

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8  02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2017-08-31 15:47] milosmalik opened #200 "some domains miss the dac_override capability"
Reboot of my Fedora26 VM (with fc27 selinux-policy and fc27 SELinux user-space) revealed that following rules are missing:
allow NetworkManager_t self:capability dac_override;
allow cupsd_t self:capability dac_override;
allow systemd_logind_t self:capability dac_override;
allow systemd_networkd_t self:capability dac_override;

$ rpm -qa selinux\*
selinux-policy-3.13.1-277.fc27.no_dac_override.100.

[2017-08-31 15:50] milosmalik commented on #200
----
type=AVC msg=audit(08/31/2017 17:35:54.401:358) : avc:  denied  { dac_override } for  pid=580 comm=systemd-logind capability=dac_override  scontext=system_u:system_r:systemd_logind_t:s0 tcontext=system_u:system_r:systemd_logind_t:s0 tclass=capability permissive=1
----
type=AVC msg=audit(08/31/2017 17:36:12.509:131) : avc:  denied  { dac_override } for  pid=597 comm=systemd-network capability=

[2017-08-31 16:21] milosmalik commented on #200
----
type=PROCTITLE msg=audit(08/31/2017 18:17:53.480:74) : proctitle=/usr/bin/rpcbind -w -f
type=SYSCALL msg=audit(08/31/2017 18:17:53.480:74) : arch=x86_64 syscall=open success=yes exit=8 a0=0x565163258e29 a1=O_RDONLY|O_CREAT a2=0444 a3=0x19 items=0 ppid=1 pid=360 auid=unset uid=root gid=root euid=root suid=root fsuid=root egid=root sgid=root fsgid=root tty=(none) ses=unset comm=rpcbind exe=/usr

[2017-09-01 09:15] wrabcak commented on #200
All AVCs fixed in this build:
https://copr.fedorainfracloud.org/coprs/lvrabec/selinux-policy-dac/build/597056/

Thanks for help!

[2017-09-01 09:59] milosmalik commented on #200
After upgrading selinux-policy packages to 3.13.1-277.fc27.no_dac_override.101 following rules are  still missing:
allow cupsd_t self:capability dac_override;
allow rpcbind_t self:capability dac_override;

[2017-09-04 09:21] bachradsusi commented on #200
`avc:  denied  { dac_override } for  pid=6710 comm="unbound-anchor" capability=1  scontext=system_u:system_r:named_t:s0 tcontext=system_u:system_r:named_t:s0 tclass=capability permissive=1`

[2017-09-04 10:23] wrabcak commented on #200
Thanks @bachradsusi , your AVC will be fixed in following build:
https://copr.fedorainfracloud.org/coprs/lvrabec/selinux-policy-dac/build/597969/

[2017-09-11 10:23] bachradsusi opened #201 "some domains miss the map permission"
# ausearch -m avc,user_avc,selinux_err | grep " map " | audit2allow

    #============= auditctl_t ==============
    allow auditctl_t auditd_etc_t:file map;

    #============= gpg_pinentry_t ==============
    allow gpg_pinentry_t user_tmp_t:file map;

    #============= insmod_t ==============
    allow insmod_t modules_object_t:file map;

    #============= lvm_t ==============
    allow lvm_t

[2017-09-11 10:42] wrabcak commented on #200
We have new build:
https://copr.fedorainfracloud.org/coprs/lvrabec/selinux-policy-dac/build/600728/

[2017-09-11 11:13] bachradsusi commented on #201
allow semanage_t user_tmp_t:file map;

[2017-09-11 12:45] bachradsusi commented on #201
allow staff_t mandb_cache_t:file map;

[2017-09-12 07:55] wrabcak commented on #201
All AVCs should be fixed in the latest f27 build:
https://koji.fedoraproject.org/koji/buildinfo?buildID=969161

[2017-09-12 08:06] bachradsusi commented on #200
type=AVC msg=audit(1505202252.85:230): avc:  denied  { dac_override } for  pid=1669 comm="chronyc" capability=1  scontext=system_u:system_r:chronyd_t:s0 tcontext=system_u:system_r:chronyd_t:s0 tclass=capability permissive=1
    type=SYSCALL msg=audit(1505202252.85:230): arch=x86_64 syscall=bind success=yes exit=0 a0=3 a1=7ffefa957790 a2=6e a3=0 items=2 ppid=1665 pid=1669 auid=4294967295 uid=0 gid=

[2017-09-12 09:34] bachradsusi commented on #201
Thanks! There's a missing rule for `pulseaudio_t`:

    ^_^ rpm -q selinux-policy
    selinux-policy-3.13.1-282.fc27.noarch

    ^_^ ausearch -i -m avc -ts recent | grep " map " | audit2allow
    #============= pulseaudio_t ==============
    allow pulseaudio_t user_tmp_t:file map;

[2017-09-12 12:09] wrabcak commented on #201
https://koji.fedoraproject.org/koji/taskinfo?taskID=21817398 new build.

[2017-09-12 12:10] wrabcak commented on #200
https://copr.fedorainfracloud.org/coprs/lvrabec/selinux-policy-dac/build/601278/

[2017-09-12 15:21] bachradsusi commented on #200
type=AVC msg=audit(1505229556.533:1131): avc:  denied  { dac_override } for  pid=32462 comm="sudo" capability=1  scontext=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 tcontext=staff_u:staff_r:staff_sudo_t:s0-s0:c0.c1023 tclass=capability permissive=0
    type=SYSCALL msg=audit(1505229556.533:1131): arch=x86_64 syscall=openat success=no exit=EACCES a0=ffffffffffffff9c a1=55d1ab3e5394 a2=902 a3=0 ite

[2017-09-12 18:27] bachradsusi commented on #200
type=AVC msg=audit(1505240680.722:1180): avc:  denied  { dac_override } for  pid=11684 comm="systemd-udevd" capability=1  scontext=system_u:system_r:udev_t:s0-s0:c0.c1023 tcontext=system_u:system_r:udev_t:s0-s0:c0.c1023 tclass=capability permissive=0
    type=SYSCALL msg=audit(1505240680.722:1180): arch=x86_64 syscall=openat success=no exit=EACCES a0=ffffffffffffff9c a1=7fff49342c70 a2=80141 a3=12

[2017-09-13 06:49] wrabcak commented on #200
Thanks @bachradsusi  for AVCs here is build with fixes:
https://copr.fedorainfracloud.org/coprs/build/601624/

[2017-10-09 07:48] wrabcak commented on #201
Looks like this issue is fixed. Closing...

[2017-10-09 07:48] #201 closed, assigned to nobody

[2017-10-09 07:53] wrabcak commented on #200
Closing this, we have  this change in Rawhide.

@bachradsusi,
Thanks for help.

[2017-10-09 07:53] #200 closed, assigned to nobody

[2017-10-17 10:50] wrabcak commented on #195
Hi,
I understand, but because of branches reflecting Fedora releases, we agreed some time ago, that this better for understanding which policy is used for each Fedora release. I leave "master" branch empty just with readme, but I'll change default branch to rawhide.

Thanks,
Lukas.

[2017-10-17 10:50] #195 closed, assigned to nobody

[2018-07-13 15:38] ghost opened #217 "Systemd-modules-load cannot load kernel modules with 'install' command in /etc/modprobe.d"
How to reproduce:

[code]

I have found this while trying to load `ip_vs` in Fedora Atomic Host (wanted to try out IPVS in Kubernetes on FAH). `/etc/modprobe.d/firewalld-sysctls.conf` has this:

[code]

Which results in a whole bunch of denials for `nf_conntrack` in permissive mode:

[code]

(In order to get those into the audit log, I also had to add `ExecStartPre=/usr/bin/sleep 5` to `systemd-mo

[2018-08-23 11:30] UntoSten opened #221 "Scary looking allow rules for guest_usertype and xguest_usertype"
I have created a new restricted SELinux user. It is based it on existing guest_u.

Now what are these scary looking rules?

[root@localhost]# sesearch --allow|grep guest_usertype|grep admin
allow guest_usertype admin_home_t:dir { add_name getattr ioctl lock open read remove_name search write };
allow guest_usertype admin_home_t:lnk_file { getattr read };
allow xguest_usertype admin_home_t:dir { ad

[2018-08-23 12:18] UntoSten commented on #221
This is on Fedora Linux 28, selinux-policy-targeted 3.14.1-40.

[2018-08-24 10:52] UntoSten opened #222 "Not able to remove unwanted domain transition to abrt_helper_t"
I have created a new highly restricted SELinux user, role and domain. Let's call it foo, it is based on guest_u on Fedora Linux 28.

I have minimized allowed domain transitions *almost* to the point that I want, but analysis using

 sedta --source foo_t

still shows something bad:

###################################

Transition 4: foo_t -> abrt_helper_t

Domain transition rule(s):
allow domain ab

[2018-08-24 13:44] UntoSten opened #223 "userdom_change_password_template allows user to change shell"
Based on the template's name, one assumes that

userdom_change_password_template()

would allow user to change his or her password. It does that.

But this template also allows executing files of type:

chfn_exec_t

And those include not only /usr/bin/chfn, but also /usr/bin/chsh:

[untosten@localhost]$ ls -lZ /usr/bin/{chfn,chsh}
-rws--x--x. 1 root root system_u:object_r:chfn_exec_t:s0 30256 Jul

[2018-09-02 16:00] wrabcak commented on #222
Hi,

Unfortunately, this is not possible, it's allowed for domain attribute so every subject on system could execute abrt_helper_exec_t binary.

We could investigate if it's really needed and maybe remove it in future.

[2018-09-02 16:17] wrabcak commented on #221
Well, this is a bug.

If I exapand the rule:
./sepolicy-expander.sh "userdom_restricted_user_template(foo_t)" | grep admin
        (allow foo_t_usertype admin_home_t (dir (ioctl read write getattr lock add_name remove_name search open)))
        (allow foo_t_usertype admin_home_t (lnk_file (read getattr)))
        (typetransition foo_t_usertype admin_home_t file ".my.cnf" mysqld_home_t)

These rul

[2018-09-02 16:20] wrabcak commented on #126
We have support for NNP trasitions.

Closing this one.

[2018-09-02 16:29] wrabcak commented on #223
Hi @UntoSten

So you used usermanage_run_passwd() instead of userdom_change_password_template() and right now it's working as you expected?  Did I understand it correctly?

[2018-09-02 16:32] wrabcak commented on #217
Hi @msekletar

Does it make sense to you? Should I allow it?

Thanks,
Lukas.

[2018-09-02 16:34] wrabcak commented on #196
@doverride

Thanks for help!

Closing this issue.

[2018-09-02 16:34] #196 closed, assigned to wrabcak

[2018-09-02 16:35] wrabcak commented on #142
@matthiasclasen

I know, I'm asking two years after but, how it looks now, should I work on this?

[2018-09-03 06:36] runiq commented on #217
(For reference, it was me who added this issue, I recently consolidated accounts.)

[2018-09-04 09:09] UntoSten commented on #223
Hi wraback!

Yes, I removed the call to userdom_change_password_template() and now I use usermanage_run_passwd()
instead. It allows the user to change passwords, so this works fine for me.

My restricted shell allows just two commands to users, so they could not have run chsh anyway, but it is good to have kernel level protection too with SELinux rules.

[2018-09-04 09:29] UntoSten commented on #223
Maybe /usr/bin/chsh should have its own chsh_exec_t.

Then I suppose userdom_change_password_template() would be more correct, even though it would still allow /usr/bin/chfn to change finger information.

[2018-09-04 11:04] wrabcak commented on #223
I understand what you mean, however it's quite dangerous to remove something from this kind of template because new version could break the existing policies.

[2018-09-04 17:02] UntoSten commented on #223
Yes, I see. It is very unfortunate that the template name suggests less rights than it in reality allows.

Changing your password is one right, changing your shell is another, and they should never have been bundled together, especially in a template that has a potentially misleading name. I know I thought I was allowing just password change, not the right to change shell.

For the record, I have

[2018-09-04 17:41] UntoSten commented on #223
We could change /usr/bin/chsh to have its own unique type chsh_exec_t, and modify the template's definition so that it would allow executing chsh_exec_t and transitioning to chsh_t domain. That should preserve the semantics for those who call the template.

But it would still break policies that allow explicit access to chfn_exec_t. Currently they get access to /usr/bin/chsh, too, and after the ch

[2018-09-05 10:28] wrabcak commented on #223
@doverride
What do you think here? I'm afraid to change it to break "working" stuff.

I have no problem with adding "NOTE!"

[2018-09-05 12:36] UntoSten commented on #223
Hi wrabcak!

You are right, we must not break existing stuff.

Adding comments should be enough, it is good documentation and makes things clear. Thanks a lot!

[2018-09-05 13:29] ghost commented on #223
On Wed, Sep 05, 2018 at 03:28:36AM -0700, Lukas Vrabec wrote:

"userdom_change_passwd" is open to intepretation i suppose. It is not usermanage_run_passwd() so its not like you do not have options

I suppose you could edit the interface description making it clear that if you just want run "passwd" that you can use usermanage_run_passwd() instead.

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8  02

[2018-09-05 14:27] UntoSten commented on #223
Hi doverride!

Seems like a good idea to add information about the possibility of using usermanage_run_passwd(). That could well be in the description. It would be helpful.

But like I said, I think it is important that the current calls to userdom_change_password_template() also contain a comment explaining that this template also allows changing shell. That comment is enough to make things clear

[2018-09-05 15:41] wrabcak commented on #223
@UntoSten  will you create PR with this change based on comment from @doverride  ? :)

[2018-09-05 15:43] ghost commented on #223
On Wed, Sep 05, 2018 at 07:28:07AM -0700, Unto Sten wrote:

Yes that seems reasonable to me.

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8  02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2018-09-05 17:55] UntoSten commented on #223
Yeah, I just did, but I was too tired and thought the template call was in selinux-policy-contrib. That is why there's two separate commits.

[2018-09-06 18:52] wrabcak commented on #223
Closing because of #226

[2018-09-06 18:52] #223 closed, assigned to wrabcak

[2018-11-02 16:15] eclipseo opened #231 "SELinux blocking DynamicUser cache dir creation"
W/ selinux-policy-3.14.2-40.fc29

The issue is SELinux blocking DynamicUser cache dir creation:

[code]

@wrabcak , could you have a look on this, this is related to https://github.com/systemd/systemd/issues/9583#issuecomment-412567468 I didn't notice it before because the dir was already created on my system but users are reporting errors: https://bugzilla.redhat.com/show_bug.cgi?id=1645598

[2018-12-05 17:03] maage opened #233 "mandb_cache_t only allowed to staff_r why?"
I don't understand why mandb_cache_t is only allowed to staff_r.

selinux-policy]$ git grep mandb_map_cache
policy/modules/roles/staff.te:    mandb_map_cache_files(staff_t)

When I have user role sysadm_r or user_r I am not able to access mandb_cache_t when I try to get manua of command that does not exits like:

[code]

I think at least sysadm_r and unprivuser (user_r) should be able to use mandb

[2018-12-16 21:57] wrabcak commented on #233
Because it was bug :) Fixed in: 2dc64e3bc9f1e50b4c7d91e370985198c5beefbe

[2018-12-16 21:57] #233 closed, assigned to wrabcak

[2019-01-07 13:33] joemccall86 opened #237 "Default snapd installation causes avc failures upon installation"
Output of `snap version`:
[code]

Steps to reproduce:

* Ensure SELinux is enforcing
* `sudo dnf install snapd`
* `snap version`

Expected results:
The snap version is printed with zero AVC denials.

Actual results:
The following AVC denials occur:
[code]

Please let me know if you need any other details.

[2019-01-07 14:39] benzea opened #238 "dnsmasq needs leases files in /var/lib/NetworkManager/dnsmasq-.*\.leases"
When dnsmasq is run by network manager (for network sharing), the lease file is placed into `/var/lib/NetworkManager/`. This results in errors like:

[code]

This changed in Network Manager with commit https://gitlab.freedesktop.org/NetworkManager/NetworkManager/commit/b4116a6fe6a5cfc05c0b81f71dd44b59c7ca0c43

[2019-01-07 14:40] benzea commented on #238
Note that I believe this is not yet needed on current Fedora releases; however, I updated my Network Manager for testing purposes and am running into it.

[2019-01-07 21:38] wrabcak commented on #237
Hi,

Thanks for the report, but snappy_t policy is defined in snapd project:
https://github.com/snapcore/snapd

Could you please report this bug in this repo?

Thanks,
Lukas.

[2019-01-07 21:38] #237 closed, assigned to nobody

[2019-01-17 23:15] rfairley opened #242 "`/run/motd` and `/run/motd.d` paths not getting context `etc_t`"
The changes in #230 and #232 gave `/run/motd` and `/run/motd.d(/.*)?` paths the context `etc_t`, which allows `sshd` to read these paths and display MOTD messages here.

Trying out the MOTD functionality (in a Fedora 29 cloud base Vagrant box), the paths still have the context `var_run_t` despite the setting to change the context to `etc_t` being present.

[code]

Doing the following gives the `/r

[2019-01-18 03:28] dustymabe commented on #242
probably, especially if it works. but I wonder what @wrabcak thinks

[2019-01-18 12:10] LorbusChris commented on #242
nice detective work, @rfairley! If the proposed solution doesn't interfere elsewhere it sgtm, too.

[2019-01-18 12:16] ghost commented on #242
Its probably time to remove the references to '/var/run', do not think there are many distributions left out there using it. certainly not fedora. this "feature" was implemented years ago and never finished because there was no incentive to complete the feature. Time to force the remainers to deal with it by removing support for it...

[2019-01-18 16:06] rfairley commented on #242
Makes sense to me - seems `/var/run` should be symlinked to `/run` in Fedora (following the latest freedesktop spec https://www.freedesktop.org/software/systemd/man/file-hierarchy.html#/var/run/). It looks like it'd be safe to replace references to `/var/run` with `/run`, with `/run` being aliased to `/var/run` already (https://github.com/fedora-selinux/selinux-policy/blob/rawhide/config/file_cont

[2019-01-18 16:12] ghost commented on #242
Robert Fairley <notifications@github.com> writes:

I am saying that I think it is time to do this now. This /var/run > /run
endeavour has been ongoing to more than five years already. It is time
to remove the compatibility. If we don't do rhat and if Fedora does not
start to enforce /run then we'll still be sturggling with this in
another 5 years.

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D

[2019-01-18 16:15] dustymabe commented on #242
I think this is the case already:

[code]

sounds good. assuming @wrabcak agrees.

[2019-01-22 19:03] LorbusChris commented on #242
I've taken a stab at removing the alias (and also the ones for /run/lock) over in #243

I do not expect that to merge quickly, so we may still want to label /var/run/motd as a quick fix so it'll work for now?

[2019-01-22 19:10] rfairley commented on #242
Nice, and agreed on the quick fix option. Will make that change to label the motd paths with `/var/run`.

[2019-01-22 19:23] rfairley commented on #242
Opened a PR for the `/var/run` tweak: #244

[2019-01-23 15:52] benzea commented on #238
Note that this is needed already for NetworkManager 1.14. So this does affect F30.

[2019-01-23 20:19] wrabcak commented on #238
Hi,

Could you share SELinux denials?

1. # setenforce 0
2. try to reproduce your issue
3. ausearch -m AVC -ts recent

Attach output of 3th step.

Thanks,
Lukas.

[2019-01-23 21:11] benzea commented on #238
I think the relevant part is:
[code]

There are a few more things that appeared at the same time though:
[code]

[2019-01-23 21:12] benzea commented on #238
Hm, wait, no lease file error?

/me is confused and pokes things again

[2019-01-23 21:19] benzea commented on #238
I was already running with "setenforce 0" and actually experimented a bit to make a MR to fix this issue. So I suspect my selinux policy is broken right now; will get back about it tomorrow.

[2019-01-24 08:03] ghost commented on #238
Benjamin Berg <notifications@github.com> writes:

Make sure to remove any existing leases file.

It needs to "dnsmasq (wifi-ap) reads /etc/NetworkManager/dnsmasq-shared.d and mana…

…ges /var/lib/NetworkManager/dnsmasq*.leases"

https://github.com/DefenSec/dssp2-standard/commit/d82389762d6148112abaefc8e00dae0bb0597fb2

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://

[2019-01-24 08:06] ghost commented on #238
Benjamin Berg <notifications@github.com> writes:

This is not relevant. This is relevant to auth_use_nsswitch() You have a
mislabeled /run/NetworkManager/resolv.conf and maybe more

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-01-24 12:46] benzea commented on #238
This is from a fresh RHEL 8 machine:
[code]

[2019-02-08 17:48] eclipseo commented on #231
Any chance you have time to fix this?

[2019-02-21 13:23] #242 closed, assigned to nobody

[2019-02-21 13:51] wrabcak commented on #231
Hi @eclipseo ,

Could you run following commands:
[code]

and then try to reproduce the issue?

Thanks,
Lukas.

[2019-02-21 13:53] wrabcak commented on #222
I'm closing this ticket because of inactivity and no possibility to remove domain transition rules from base selinux-policy.

[2019-02-21 13:53] #222 closed, assigned to wrabcak

[2019-02-21 15:12] #221 closed, assigned to wrabcak

[2019-02-21 16:27] eclipseo commented on #231
Issue reproduced after running these commands:

[code]

[2019-02-21 16:48] ghost commented on #231
CacheDIrectory=, LogDirectory=, StateDirectory=, and DynamicUsers= in general are explained here:

http://0pointer.net/blog/dynamic-users-with-systemd.html

https://lore.kernel.org/selinux-refpolicy/87sgxozucw.fsf@gmail.com/T/#m31a444e8db6ebb10e069f8c522ce1beb7d8c8d32

In a nutshell:

/var/log/private is equal to /var/log to the service unit that calls LogDirectory=
/var//cache/private is equal to

[2019-02-21 16:51] ghost commented on #231
@eclipseo see where `semanage fcontext -a -e /var/cache /var/cache/private && systemctl daemon-reexec && restorecon -RvF /var/cache/private && systemctl start dnscrypt-proxy` gets you

Best to first remove any /var/cache/private/dnscrypt-proxy dirs if they exist, so that it can be determined whether systemd is allowed to create it

(The `systemctl daemon-reexec` is essential in case youre wonderin

[2019-02-21 16:55] ghost commented on #231
o and in case you havent already: `semanage fcontext -d -t init_var_lib_t "/var/cache/private(/.*)?"`

[2019-02-21 16:56] ghost commented on #231
Also show any avc denials that you see when you try it please.

And try it in permissive mode please so that we get a clearer picture of what all permissions are needed

[2019-02-21 17:35] eclipseo commented on #231
No change:

[code]

[2019-02-21 17:41] eclipseo commented on #231
Same message popping up in permissive (but it works)

[2019-02-21 17:44] ghost commented on #231
That is in enforcing mode. Its better to test it in permissive mode and then show all avc denials. Regardless:
1. The dnscrypt-proxy service should ideally be targeted by the policy.
2. However one might argue that systemd should be able to set these directories up for unconfined_service_t as well, and so one might want to allow init_t to create generic var_t dirs for this (thats optional i suppse

[2019-02-21 17:48] eclipseo commented on #231
I don't see any other AVC denials in permissive.

I've added a policy to my package as a workaround:
https://src.fedoraproject.org/rpms/dnscrypt-proxy/c/472a2814f1db781641fb022581517f63ff2a0f5a?branch=master

[2019-02-21 17:49] ghost commented on #231
This might do it:
[code]

[2019-02-21 17:51] ghost commented on #231
Right, that looks good but this shoulld really be fixed upstream and it really shouldnt be part of you package. (so remove it as soon as @wrabcak addressed it please)

[2019-02-21 17:53] ghost commented on #231
Also you or upstream selinux-policy should ideally work on an proper selinux policy for dnscrypt-proxy

[2019-02-21 17:57] eclipseo commented on #231
I'm no expert on SELinux, so ideally upstream selinux-policywould do it.

[2019-02-21 17:57] ghost commented on #231
I (personally) agree

[2019-02-21 18:09] ghost commented on #231
Althought I think there might be two things there:

1.The SELinux expert might argue similarly that he is no expert on dnscrypt-proxy and that ideally dnscrypt-proxy packager should do it. (I personally still prefer selinux-policy upstream address it)
2. I think Fedora as a whole decided that packagers should include policy for their packages instead of upstream selinux-policy ( i don't agree with

[2019-02-21 18:17] ghost commented on #231
Also something to consider:

make sure that /var/cache/dnscrypt-proxy symlink and /var/cache/private/dnscrypr-proxy dirs gets removed when the package is uninstalled. Because systemd wont do it and neither will rpm (unless you tell it to)

[2019-02-21 18:22] ghost commented on #231
I would also probably consider adding: AmbientCapabilities=cap_net_bind_service so that your service can bind socket to port 53 if the user decides to not enable the dnscrypt-proxy socket unit

[2019-02-21 18:24] ghost commented on #231
Oh nevermind , i see that you do not support that scenario.

[2019-02-21 18:53] bachradsusi commented on #231
There's ongoing review of new packaging guidelines related to SELinux modules - https://pagure.io/packaging-committee/pull-request/814#

It would be great if you could follow the proposed guidelines - https://pagure.io/fork/vmojzis/packaging-committee/blob/8261bb88bc6226c40398a5ac58730cd35c0d0f98/f/guidelines/modules/ROOT/pages/SELinuxIndependentPolicy.adoc

@vmojzis ^^ can you provide a better li

[2019-02-21 19:15] ghost commented on #231
I have to admit that it looks pretty well thought through, and i also admit that my concerns are not addressed when the policy would be maintained centrally. Because regardless of any scenario packagers are alway's able to include policy in non-conventional way's (like @eclipseo did above) that might compromise the base.

That is my biggest concern regardless. that a packager compromises the whole

[2019-02-22 08:08] ghost commented on #231
Would be nice if we could have a (temporary) mirror of SELinuxIndependentPolicy.adoc on github, so that it's is easier to discuss for people that may not necessarily have a fas account.

[2019-02-22 08:28] ghost commented on #231
One way I envision how this could be implemented (there are alternatives, but this one might be the least intrusive):

1. Add equivalent rules for the 3 (see earlier comment)
2. create 3 interfaces systemd_log_directory_template() systemd_state_directory_template() systemd_cache_dirrectory_template()
3. Expect two arguments: caller domain, directory object type (example systemd_log_directory_templ

[2019-02-22 09:12] ghost commented on #231
There is atleast one potential (label) issue with the solution above though

For example i will take "isns":

Lets say the above is implemented and the isns packager decides to add: StateDirectory=isns to the isnsd.service unit. If the policy is extended with: `systemd_state_directory_template(isnsd_t, isnsd_var_lib_t)`, then in theory things should just work ...

... until you relabel /var/lib:

[2019-02-25 23:02] #49 closed

[2019-02-25 23:03] wrabcak commented on #49
@mgrepl  It took me 3.5years but I did it!

[2019-03-13 04:42] westurner commented on #237
- "Default Snapd installation with SELinux causes AVC failures" https://bugs.launchpad.net/snappy/+bug/1810858

[2019-04-09 14:46] benzea commented on #238
Just a reminder that this is probably still an issue :)

[2019-04-10 08:13] wrabcak commented on #238
Hi All,
Issue fixed in https://github.com/fedora-selinux/selinux-policy-contrib/commit/6ebb6cefd3b74e0c0878edf13084dfae93d967f9

Thanks,
Lukas.

[2019-04-10 08:13] #238 closed, assigned to nobody

[2019-04-15 07:55] tmds opened #259 "dotnet exe under /usr/lib64 should have bin_t context"
Hi, .NET Core packages from [Fedora .NET SIG](https://fedoraproject.org/wiki/SIGs/DotNet) install an executable at `/usr/lib64/dotnet/dotnet`. A symlink is added to `/usr/bin/dotnet` which links to that executable.

The `dotnet` executable isn't usable from a systemd system service: SELinux blocks it because it has the `lib_t` context.

Changing to `bin_t` makes it work:
[code]

Can you please upd

[2019-04-15 07:59] ghost commented on #259
Tom Deseyn <notifications@github.com> writes:

Not my call but would it not instead be better to fix the packaging?

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-04-15 08:21] RheaAyase commented on #259
TLDR would be "The packaging is as intended and correct."

Long story: https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging

[2019-04-15 08:21] tmds commented on #259
We can't move the `dotnet` exe because it needs to be at the 'root' of a hierarchy of folders. [.NET Core distribution packaging](https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging) describes the layout. Is it that what you mean? Or maybe you have something else in mind?

[2019-04-15 08:26] RheaAyase commented on #259
That comment synchronization! \o/ :D
(please ignore me)

[2019-04-15 08:41] ghost commented on #259
Thanks. duly noted. I was just trying to consolidate that with this: https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s06.html

[2019-04-15 08:46] RheaAyase commented on #259
It is definitely a good point and perhaps we should bring it up with MS. I don't even remember anymore what was the reason for this to be there, it may not exist anymore after other kinds of changes. @tmds @omajid what do you think?

[2019-04-15 09:01] tmds commented on #259
I'd rather get this to work than start a discussion with Microsoft.
They'll want to keep the exe at the root because it makes it simple to pack things up in a tar.gz file.
If we'd place it elsewhere and make it work, we can't be sure it will keep on working in the future.

[2019-04-15 14:23] omajid commented on #259
@doverride .NET placing a binary here is a bit unfortunate (I would have preferred FHS too), but it is not too different from java packages placing binaries at `/usr/lib/..../java` in Fedora.

[2019-04-17 06:03] tmds commented on #259
@doverride can you look into this please? or assign it to someone that can?

[2019-04-17 06:26] ghost commented on #259
Tom Deseyn <notifications@github.com> writes:

@wrabcak can you add this spec?

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-04-17 06:47] zpytela commented on #259
I can do that.

[2019-04-17 09:31] ghost commented on #259
Zdeněk Pytela <notifications@github.com> writes:

Thanks

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-04-17 10:08] zpytela commented on #259
I've just noticed 2 different path specifications:

/usr/lib/dotnet/dotnet
/usr/lib64/dotnet/dotnet

Which one is correct?

[2019-04-17 10:10] ghost commented on #259
Zdeněk Pytela <notifications@github.com> writes:

/usr/lib/dotnet/dotnet

see: https://github.com/fedora-selinux/selinux-policy/blob/rawhide/config/file_contexts.subs_dist#L17

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-04-17 11:29] zpytela commented on #259
@doverride thank you for all you comments. My main question is how to find it out - when the rule is to follow the module/package name or type like in this case.
I understand that declaration in a particular module is quite a strong indication, so asking more generally.

[2019-04-17 11:32] tmds commented on #259
@zpytela the way we figured this out is: the dotnet exe is at /usr/lib64/dotnet/dotnet, but when you pass that to semanage, it gives an error:

[2019-04-17 11:35] zpytela commented on #259
@tmds it is because of equivalency fcontext rules, see tail of semanage-fcontext:
[code]
The rules need to be set upon source path of the equivalency rule.

[2019-04-17 12:30] ghost commented on #259
Zdeněk Pytela <notifications@github.com> writes:

Good question, and I do not have a good answer for this other than: if
you consistently add specs to modules that declares the type referenced
in the spec then you should generally be ok.

If you want to debate this topic or get an authoritative answer to your
question then you should probably take this to the reference policy
maillist so that the

[2019-04-17 13:03] ghost commented on #259
It has been a long time since i've had hands-on experience with reference policy-based module policy. The details have lost, but if i recall correctly: you have to look at this in the bigger picture of the modularity aspect of it all. If you reference a type in a module then that module depends on the module where there referenced type is declared. So in your case where you reference type bin_t in

[2019-04-17 13:15] ghost commented on #259
Point is that it is module policy. If you treat it as a monolithic 'blob' then you eventually might lose some of the benefits of modularity.

[2019-04-17 15:53] zpytela commented on #259
Understood. Although in this case it does not completely apply as you can hardly remove a module like corecommands.

[2019-04-17 16:09] ghost commented on #259
Exactly, but consistency is important too.

[2019-04-18 13:52] #259 closed, assigned to nobody

[2019-04-18 14:06] tmds commented on #259
@zpytela @doverride Thanks!

[2019-04-29 15:37] benzea opened #262 "GNOME session managed by user systemd instance non-functional"
NOTE: The upstream patchset is *not* yet merged. I am opening the bug as an advanced notice.

With https://gitlab.gnome.org/GNOME/gnome-session/merge_requests/13 we are going to start the GNOME session. This patchset currently fails to work with selinux enabled, because `/usr/libexec/gnome-session-binary` and the new `/usr/libexec/gnome-session-ctl` binaries are not allowed to start/stop user serv

[2019-04-30 10:53] benzea commented on #262
Hmm, actually, seems like https://github.com/systemd/systemd/issues/12399 might magically fix this.

[2019-04-30 15:19] wrabcak commented on #262
@benzea , can you later confirm when the upstream patchset will be ready that there is no request for changing the SELinux policy?

THanks,
Lukas.

[2019-05-10 19:53] benzea commented on #262
@wrabcak so it looks to me like this fails for the GDM user (uid 42) while it works fine for the normal user account. Does that sound like a plausible issue to you?

[2019-05-10 19:55] benzea commented on #262
I am reproducing this with the packages in https://copr.fedorainfracloud.org/coprs/benzea/gnome-systemd/

[2019-05-10 21:40] benzea commented on #262
The result is currently something like:
[code]

[2019-05-22 21:06] wrabcak commented on #262
Hi @benzea ,
The reason why you reproduce it only with GDM user is that this user runs in different SELinux domain. Could you please switch SELinux to permissive using:
` # setenforce 0`

And reproduce the scenario again and attach output of:
` # ausearch -m AVC, USER_AVC -ts recent`

Thanks,
Lukas.

[2019-07-31 23:11] ajeddeloh opened #270 "SELinux prevents systemd from relabeling after loading the policy"
Sorry if this is the wrong place.

Systemd 240 introduced `/run/systemd/relabel-extra.d` ([doc](https://github.com/systemd/systemd/blob/master/NEWS#L1257)). Unfortunately the SELinux policy appears to be denying everything it's trying to do.

This is on Fedora CoreOS, which uses the normal Fedora systemd package.

Steps to reproduce:
1) Boot fedora or fedora coreos with rd.break on the kernel comm

[2019-08-01 08:53] wrabcak commented on #270
Hi @ajeddeloh ,

Could you please  reproduce it and attach AVCs?

Thanks,
Lukas.

[2019-08-01 14:35] WOnder93 commented on #270
Why does systemd need to catch eels? :) https://en.wiktionary.org/wiki/reballing

[2019-08-02 21:02] ajeddeloh commented on #270
https://gist.github.com/ajeddeloh/14d9004e6156e71411f6d7e654673f1d < AVC logs

[2019-08-06 16:26] wrabcak commented on #270
Thanks @ajeddeloh  for AVC logs.

This is quite cool feature! I need to take a look to the code how it's implemented but it would be great if systemd could call restorecon or setfiles because there is already existing domain transition rule:
sesearch -T -s init_t -t setfiles_exec_t -c process
type_transition init_t setfiles_exec_t:process setfiles_t;

And all these AVC are generated because init_t

[2019-08-06 18:17] ghost commented on #270
On Tue, Aug 06, 2019 at 09:26:40AM -0700, Lukas Vrabec wrote:

If it would run setfiles in the setfiles_t domain then you would lose the ability to make this requested feature conditional.
systemd currently already relabels /dev, /dev/shm, /run, /sys/fs/cgroup, and that is mandatory (atleast /dev and /run (the others dont make sense)
Not to mention that systemd probably doesnt want a dependency on

[2019-08-06 18:28] keszybz commented on #270
~~It is is certainly possible, but I wonder if it is worth the trouble. IIUC, we would only be allowed to transition *to* `setfiles_exec_t`, but not back. We could work around this by doing the relabel in a child process. But then we have a bunch of code to fork off, wait, communicate the result back to the parent. It is certainly doable, but maybe it's just less trouble to add the rule?~~

Oh, I

[2019-08-06 18:43] poettering commented on #270
This is where the extra relabelling is done:

https://github.com/systemd/systemd/blob/master/src/core/mount-setup.c#L410

For everything listed in those files we do the exact relabel orgy as we do for /run, and everything else we relabel after the selinux policy is loaded.

[2019-08-06 18:52] poettering commented on #270
btw, i don't think pid 1 should have blanket privs to relabel every file on the planet. absolutely not in fact.

if there's code in the initrd that wants stuff to be relabelled, then it should write our a relabel-extra.d/ file *AND* make sure that the selinux policy matches that.

Hence: if the project @ajeddeloh works on wants to relabel the whole of /etc (which sounds a bit drastic to me, but ok

[2019-08-06 19:28] ghost commented on #270
On Tue, Aug 06, 2019 at 11:52:04AM -0700, Lennart Poettering wrote:

Add a boolean that defaults to off, and limit it to non-security/non-auth file types, probably the most reasonable compromise as it catches most common scenarios whilst still protecting some sensitive files.
Systemd provides the functionality. Last thing one wants is that people disable selinux or try to alter the policy manually

[2019-08-06 19:29] keszybz commented on #270
That's seems to put a very high bar on any users of this. Right now we have a very simple format that you can easily script and so on. Requiring plugging into selinux policy makes the whole thing much more complex. And anyway, compromised systemd can do anything, so worrying about a rogue relabel seems excessive.

[2019-08-06 19:41] ghost commented on #270
On Tue, Aug 06, 2019 at 12:29:37PM -0700, Zbigniew Jędrzejewski-Szmek wrote:

I suppose it can do everything before it loads the policy, but after that the policy *should* be able to limit its abilities quite a bit
For example it can't load policy on a system that already has a policy loaded, it can't access raw storage, memory, cpu
Can't access shadow directly. can't write policy etc etc.

--
Key

[2019-08-06 20:10] ajeddeloh commented on #270
We don't need to relabel all of /etc, I was doing that as a test while debugging since it was easier to isolate the problem. We'll generate a list of specific files that need to be relabeled.

I'm not sure what a security/auth file type means in this context, but I assume it means things like /etc/shadow and friends, amongst other things. These are files that we are looking to relabel as the proje

[2019-08-06 20:14] ghost commented on #270
On Tue, Aug 06, 2019 at 01:10:49PM -0700, Andrew Jeddeloh wrote:

Ok then all non-security files (/etc/selinux/*/policy/policy.* , /etc/audit, /var/log/audit (some other audit files)

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-08-06 20:14] keszybz commented on #270
Can't access shadow directly. can't write policy etc etc.

Sure it can. It is allowed to create units that start arbitrary commands with arbitrary options. Maybe in some super locked-down system things might be a bit different, but in general case if pid1 can run `dnf-automatic.service`, it can do any of those things.

[2019-08-06 20:25] ghost commented on #270
On Tue, Aug 06, 2019 at 01:14:24PM -0700, Zbigniew Jędrzejewski-Szmek wrote:

True, package managers are a liability, and systemd is able to run them. Thats what systemd does, it runs things, and thats what package managers do they install stuff.
SELinux enforces integrity

SELinux is not the only tool in the toolbox though

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
ht

[2019-08-06 20:51] ghost commented on #270
On Tue, Aug 06, 2019 at 01:14:24PM -0700, Zbigniew Jędrzejewski-Szmek wrote:

Not "sure it can": that is pure speculation. It can run daemons (thats it).
Whether dnf or package managers in general can be a path to disable or manipulate selinux is a next step, and that can depend on more than just the selinux factor

I do get your point though, but it is not as black and white.

--
Key fingerprint

[2019-08-07 05:25] bgilbert commented on #270
For context: the tool in question is [Ignition](http://github.com/coreos/ignition), which allows users to provision machines on first boot (similar to cloud-init).  Ignition runs from the initramfs.

If the user specifies writing a file into `/etc/audit`, Ignition would like to be able to do it, and to arrange for that file to be labeled once policy is loaded.

[2019-08-07 20:08] wrabcak commented on #270
Hi All,

Thanks for your opinions. :)
It's good point @doverride , @keszybz  that taking new dependency and calling external tool in systemd is not really clever idea. It make sense.
Also I agree with @poettering that systemd should not relabel every object on the filesystem which also make sense.

So... Solutions... I don't like boolean option because I'm pretty sure lot of people will forget to

[2019-08-08 06:46] ghost commented on #270
On Wed, Aug 07, 2019 at 01:08:16PM -0700, Lukas Vrabec wrote:

I am against the idea of using setcon/setexeccon, but if it is decided to do it anyway then i would ask systemd to make sure that systemd handles it gracefully when the policy blocks this, and that it falls back to the current behavior.

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/p

[2019-08-08 08:28] poettering commented on #270
it's pid 1 that relabels this stuff. It does so super-duper early, while mounting /dev and /proc and /run and stuff, before it goes and loads units and reads configuration files and stuff.

If we change PID 1 from init_t to relabel_t when relabelling, and then back to init_t, where's the effective difference from giving init_t full relabel rights anyway?

[2019-08-08 08:33] poettering commented on #270
(what we could do is maybe have "preinit_t" or so, which PID 1 uses while doing some super basic stuff, like mounting /proc and this relabelling, and then dropping to regular init_t after that's done. Key here would be that there would be no way back however. i.e. iirc PID 1 gets started with the "kernel" label. We'd then load policy, transition to "preinit_t", then mount all those dirs, do relabe

[2019-08-08 08:44] ghost commented on #270
On Thu, Aug 08, 2019 at 01:33:20AM -0700, Lennart Poettering wrote:

The way systemd currently transitions from kernel_t to init_t is also error prone i believe by the way but i can't think of a good alternative.
it uses the label of the systemd executable to compute whether it can transition and where to transition to. If that file is somehow mislabeled and systemd can't compute then its game ove

[2019-08-08 09:41] ghost commented on #270
On Thu, Aug 08, 2019 at 10:44:16AM +0200, Dominick Grift wrote:

Maybe systemd should just proceed when it cannot compute its label, and instead rely on the policy?

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-08-09 14:08] wrabcak commented on #270
Understand, if it's PID 1 in very early state of booting process, it doesn't make sense to switch contexts and keep it in init_t.
It looks like that the best way how to fix this issue is just to create SELinux boolean.

Thank you all for help and investigating.
Lukas.

[2019-08-09 14:24] ghost commented on #270
On Fri, Aug 09, 2019 at 07:08:18AM -0700, Lukas Vrabec wrote:

If youre worried about people forgetting to set the boolean true, then you can decide to default to on.
At least you have a way to lock it down if needed.

--
Key fingerprint = 5F4D 3CDB D3F8 3652 FBD8 02D5 3B6C 5F1D 2C7B 6B02
https://sks-keyservers.net/pks/lookup?op=get&search=0x3B6C5F1D2C7B6B02
Dominick Grift

[2019-08-12 13:27] wrabcak commented on #270
Hi @doverride ,

Yes, it looks like this is the best solution.

[2019-08-12 13:48] #270 closed, assigned to wrabcak

[2019-08-12 13:49] wrabcak commented on #270
@poettering, @keszybz, @msekletar,
Guys should I backport it also to Fedora 30? Or Rawhide is enough?

[2019-08-12 15:31] keszybz commented on #270
I still think the boolean is just not worth the extra complexity and documentation effort, but either way, if the policy can be changed to allow this without requiring any other changes, that'd be great.

[2019-08-12 16:25] ghost commented on #270
On Mon, Aug 12, 2019 at 08:31:22AM -0700, Zbigniew Jędrzejewski-Szmek wrote:

https://youtu.be/8cU4hQg6GvU?t=224

Some people aren't able to just get away with:

"THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU."

SELinux and integrity in general is not always about malicious activity.
It is also about being able to limit the damage done by flaws in code.

The boolean

[2019-08-12 18:19] keszybz commented on #270
F30 would be good. We have systemd-241 in F30, so the bug would also manifest there.

[2019-08-13 15:39] wrabcak commented on #270
So for some people bad news for some good news. We cannot use SELinux boolean for this issue because of m4 language limitation. I allowed it directly.

[2019-08-14 06:07] ghost commented on #270
On Tue, Aug 13, 2019 at 08:39:05AM -0700, Lukas Vrabec wrote:

This is not an m4 issue. You cannot associate types with type attributes in booleans.
The interface you call in the boolean associates the caller with can_relabelto_bin_policy and can_relabelto_shadow
These attributes are solely used to enforce neverallow rules, a functionality that is probably disabled anyway.
The solution would be to

[2019-08-28 13:48] DemiMarie opened #273 "Use allowxperm to filter ioctls"
Currently, ioctls are either entirely allowed or entirely forbidden.  Instead, they should be whitelisted, as is done in Android.

[2019-09-11 03:45] bgilbert commented on #270
It appears that this has been fixed in F31 and Rawhide but not in F30.  Could the fix be backported to F30?  It's needed for live image support in Fedora CoreOS.

[2019-09-13 08:11] wrabcak commented on #270
@bgilbert
Backported. Fixes should be part of next F30 selinux-policy update.

[2019-09-16 08:48] benzea commented on #262
Sorry, I forgot to get back to you about this :-/

I believe this has been fixed in the meantime though with the F31.

[2019-09-19 22:47] ajeddeloh commented on #270
Just pulled in the rpm to test and confirmed this fixes the problem. Thanks!

[2019-09-20 09:14] wrabcak commented on #270
No problem, thanks for testing!

[2019-10-07 17:47] mikhailnov opened #287 "Many optional elements are hiddenly disabled in policies"
I have recently found that in `semodule` utility and in `libsepol` in general it is impossible to turn on maximal debug level. See https://github.com/SELinuxProject/selinux/issues/176

When Fedora's selinux-policy and fedora-policy-contrib are built with libsepol with that patch applied, libsepol thows a lot of warnings about depreceated and unresolvable statements.

I think policy developers did

[2019-10-21 06:18] perfinion commented on #287
For reference, the semodule verbosity fix is here: https://github.com/SELinuxProject/selinux/pull/182

[2019-10-31 13:10] svarshavchik opened #290 "Policy tweaks for Courier's webmail"
The contributed courier package is missing a couple of permissions for courier's webmail cgi binary.

I was able to get the cgi binary working on F30 with the following local policy:

policy_module(courier_webmail, 1.0)

require {
	type httpd_sys_script_t;
	type courier_spool_t;
};

allow httpd_sys_script_t courier_spool_t:dir search_dir_perms;
allow httpd_sys_script_t courier_spool_t:sock_file ma

[2019-10-31 16:41] wrabcak commented on #290
@Koncpa, Could you please take a look on this?

Thanks,
Lukas.

[2019-11-28 09:33] gui-bo opened #298 "unable to use machinectl with selinux in enforcing mode"
Hallo,
I am using Fedora Silverblue 31 and i cannot use machinectl with selinux in enforcing mode.
Does anyone know how i can change the SELinux policy to allow it?
Thank you!

<pre>[<font color="#4E9A06">gui</font><font color="#3465A4">@</font><font color="#06989A">localhost</font> <font color="#75507B">~</font>]<font color="#CC0000">$</font> sudo machinectl shell gui@Fedora31
<font color="#CC000

[2019-11-28 15:17] wrabcak commented on #298
@zpytela  PTAL

[2019-12-09 15:52] zpytela commented on #298
@gui-bo, please collect all denials from the command attempt made in the SELinux permissive mode. They need to be assessed and a proper action chosen to resolve the issue.
[code]
Is this issue new in F31? Has it started with some particular update? Does it happen only when using Silverblue image?

[2019-12-09 20:24] gui-bo commented on #298
Hallo, i have this issue since i installed Fedora Silverblue 31 last month.
On Fedora Silverblue 31 (installed on actual physical hardware):
[code]
I just installed a VM with normal Fedora 31 and have the same problem:
[code]

[2020-02-04 16:24] Siosm opened #325 "user_u can execute setuid binaries"
According to the [Fedora 25 SELinux documentation](https://docs.fedoraproject.org/en-US/Fedora/25/html/SELinux_Users_and_Administrators_Guide/sect-Security-Enhanced_Linux-Introduction-Examples.html), users assigned with the SELinux `user_u` user should not be able to execute setuid binaries.

This is no longer the case at least on Fedora 31. Creating a confined user with:
[code]

I have not yet fo

[2020-02-04 17:12] zpytela commented on #325
Thank you for reporting the issue, we will look at it and get back soon.

[2020-02-04 18:06] Siosm commented on #325
While looking for the source of this specific issue, I found the following commits that appears to be problematic based on my current understanding of the policy:

* c309f5c0917d807cb0cd53b2daaa2407f7b7c569 -> allow unprivileged users to change **system** unit configurations instead of systemd **user** configuration.
* c2b42cb63ea82cd97590f8912a939ee4d55c6d5b -> enable access to both **system** sy

[2020-03-16 19:08] zpytela commented on #287
This issue seems to be a policycoreutils one, @vmojzis could you please take a look?

[2020-03-17 08:29] bachradsusi commented on #287
@zpytela It's expected in the current state of Fedora SELinux policy. E,g. *alsa.te* contains optional blocks referencing `hald_t` type but Fedora does not ship *hal* module:

[code]

it expands to

[code]

and `semodule -v -v -i alsa.cil` correctly reports:

[code]

[2020-03-17 09:01] wrabcak commented on #287
Work we need to do here is to drop unused SELinux modules in our policy and also do clean up of these optional blocks.

[2020-03-17 18:34] zpytela commented on #298
@gui-bo, at least some of these denials can be addressed in Fedora policy, I am afraid it requires a lot of changes to be made. Are you aware of any customizations made on your system related to these issues? There seem to be paths or symlinks which are not present by default.

Unfortunately, as path is not logged in these denials, the following commands need to be run to grab more information:
[c

[2020-03-18 10:40] zpytela commented on #287
I understand that if there is a final decision not to support a module, large cleanup should be in place.

[2020-03-18 10:56] wrabcak commented on #287
In general, we should do cleanup of SELinux modules we have in SELinux policy but they are not active so decision was made in past, we just need to drop it from sources.

[2020-03-23 15:57] nlordell opened #335 "[Silverblue] RPMs that install to `/opt` have incorrect SELinux context type."
I believe there is a subtle SELinux policy bug that comes from the fact that RPMs that install to `/opt` instead get installed to `/usr/lib/opt` in Silverblue (for `ostree` reasons).

This causes a subtle policy bug because the expected SELinux context type for files installed to `/opt` is `usr_t`:
[code]

However, since they get installed to `/usr/lib` instead, they pick up this rule:
[code]

Thi

[2020-03-23 20:33] nlordell commented on #335
This is also an issue with files that are manually installed to `/opt` (for example when copying non-RPM binary distributions to `/opt`), where they get the `var_t` type because `/opt` is just a symlink to `/var/opt` and the following rule gets picked up:
[code]

[2020-03-24 14:29] gui-bo commented on #298
I started using fedora-toolbox and podman now. It is the supported and easier way to work with containers in silverblue and it is working really great, even better then a systemd container.
So i dont use systemd containers any more.

Thank you some much!

[2020-03-24 14:29] #298 closed, assigned to zpytela

[2020-04-03 10:26] zpytela commented on #335
@nlordell thank you for the detailed description.
I checked the Filesystem Hierarchy Standard document, and see 2 issues:

1. /var is IMHO correct, if there are files manually installed, the context needs to be set appropriately, using a semanage fcontext add or equivalency rule
2. /usr/lib/opt needs to be checked with Silverblue/ostree; although the current setting also complies with FHS, if it i

[2020-04-03 11:26] nlordell commented on #335
This all sounds very reasonable to me, and I admittedly know very little about SELinux. Thanks for the reply and for tip on setting an equivalency rule instead of adding a new one (are these equivalency rules similar to entries in the `*.subs_dist` files?).

Feel free to close the issue.

[2020-04-03 13:22] zpytela commented on #335
@nlordell I think it is more a question of understanding all the layers and how components interact with each other in this case than just SELinux, so more developers may need to be involved to resolve a complex issue. I should have posted a link to FHS:
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/index.html

Equivalency rules work the same, either in distribution or as a user customization.

[2020-04-03 14:10] #335 closed, assigned to nobody

[2020-04-07 21:47] amessina opened #344 "systemd-nspawn userns container with MCS constraints"
I am working through containing a Fedora OS container in a user-namespaced, MCS constrained `systemd-nspawn` container and am looking for clarification or potential bug fixes. Inside the container, I expect to use systemd services such as `systemd-networkd`, and `systemd-resolved` and move up to useful services such as FreeIPA, etc.

I had originally posted this to the https://github.com/container

[2020-04-15 21:21] dustymabe opened #348 "denying read for systemd-sysctl on file in /run/sysctl.d"
I'm creating a file in `/run/sysctl.d` to be picked up by systemd-sysctl
and it's failing with an selinux denial. On Fedora 32:

[code]

Should we update the policy to allow `systemd-sysctl` to read `var_run_t` or update the policy such that files created under `/run/sysctl.d` get a different file content by default?

[code]

[2020-04-17 15:29] zpytela commented on #348
@dustymabe, files in /run/sysctl.d are not generic runtime files, but it is questionable which context is the right one according to the current policy state:
[code]
I am just afraid that changing context for all of them to match can make troubles.

[2020-04-17 17:00] dustymabe commented on #348
Is there anyone that would know better that we could ask?

[2020-04-21 14:39] dustymabe commented on #348
@zpytela - should we ask Lukas or Dan maybe?

[2020-04-21 16:33] wrabcak commented on #348
Hi @dustymabe ,

If you relabel /run/sysctl.d to etc_t -
`# chcon -t etc_t /run/sysctl.d/ `

It should fix your issue.

Do you have existing bugzilla ticket for this issue?

[2020-05-10 12:18] svarshavchik commented on #290
I revisited this issue. Not sure what happened, but there in the current F31 there's another AVC getting logged:

type=AVC msg=audit(1589086763.118:1319): avc:  denied  { connectto } for  pid=674413 comm="webmail" path="/var/spool/courier/sqwebmail.sock" scontext=system_u:system_r:httpd_sys_script_t:s0 tcontext=system_u:system_r:unconfined_service_t:s0 tclass=unix_stream_socket permissive=0

I fou

[2020-05-10 17:40] Koncpa commented on #290
Hi @svarshavchik,
we take a look on next issue, which you mentioned.

Patrik

[2020-06-19 11:39] zpytela commented on #217
Resolved in https://github.com/fedora-selinux/selinux-policy/pull/378

[2020-06-19 11:39] #217 closed, assigned to wrabcak

[2020-06-22 17:51] ruuda opened #382 "SELinux prevents using systemd RootImage= on Fedora CoreOS"
On Fedora CoreOS, out of the box, a systemd unit using `RootImage=` pointing to an image that contains a squashfs file system cannot be started with SELinux enabled. [I was advised to report a bug about that here](https://github.com/coreos/fedora-coreos-tracker/issues/544#issuecomment-647428849).

**Steps to reproduce**

* Acquire a Fedora CoreOS Qemu image [from here](https://getfedora.org/en/cor

[2020-06-23 14:06] wrabcak commented on #382
Hi,
The problem is with labeling file "/home/poc/sleep.img". The file is in the home directory so the default label is _user_home_t_ .

Please change label to the: _svirt_image_t_.
[code]

This should fix your issue.
Thanks,
Lukas.

[2020-06-23 14:06] #382 closed, assigned to nobody

[2020-06-23 16:53] ruuda commented on #382
Thanks for having a look.

I previously put the image in `/var/lib` but ran into the same issue, I suppose that one also doesn’t have svirt_image_t label?

Is there any way to change the label without `semanage`, preferably through a configuration file instead of running a command? `semanage` is not available on Fedora CoreOS.

[2020-06-24 07:45] wrabcak commented on #382
Yes.

No, you need to use commands _semanage_ or _chcon_.

[2020-06-24 08:52] lucab commented on #382
I'd like to see this issue re-opened, on the ground that "please manually run this magic incantation to let SELinux use a software as designed" is a bad user experience (how are they supposed to known/expect/discover this?) and it's a barrier for automation.

It looks like the root issue is that the default context for `/home` prevents this feature from working with that file, which seems fair. Ho

[2020-06-24 08:58] zpytela commented on #382
@lucab, there are a couple of places where the `svirt_home_t` label is assigned automatically, see
[code]
If another place is needed, SELinux configuration needs to be adjusted, too. The semanage command is used to change the default context, restorecon to restore according to default context. For changing the type right away, use chcon. As an alternative to semanage, a custom policy module can be

[2020-06-24 09:22] lucab commented on #382
@zpytela great feedback, thanks! I'm trying to get to a point where this works by default and we can properly document the flow for using this systemd feature. So let me ask a couple of followup questions:
 * the user is trying to use a system unit (`/etc/systemd/system/sleep.service`), so `/home` is probably not a good place to begin with. Is there a better place for system content (i.e. not user

[2020-06-24 19:46] ruuda commented on #382
I put the image in `/home` just for the minimal example, I did not know it would matter for the report. I am not planning to use `/home` for it on my real system. Having a location under `/var` or `/usr/local` that works out of the box would be great!

[2020-07-03 20:16] DemiMarie opened #391 "SELinux blocking StrongSwan from dropping privileges"
SELinux denies StrongSwan `CAP_SETUID` and `CAP_SETGID`.  This prevents StrongSwan from switching to a non-root user after startup.

[2020-07-03 20:17] DemiMarie opened #392 "Wrong label on /var/spool/cron"
`/var/spool/cron` is labelled `user_cron_spool_t`, which is incorrect and gives all daemons access to it.  It should be labeled `cron_spool_t`.

[2020-07-07 10:52] wrabcak commented on #391
@zpytela  PTAL

[2020-07-07 10:53] wrabcak commented on #392
@zpytela  PTAL

[2020-07-07 11:15] zpytela commented on #391
@DemiMarie, thank you for reporting this issue. Can you also send a PR to address it?

Which version of strongswan do you use?
For `strongswan-5.8.4-3.fc33.x86_64` and Fedora, it also seems to require CAP_CHOWN on `/run/strongswan/`.

[2020-07-07 11:59] zpytela commented on #392
@DemiMarie, I wonder how you came across this issue, some security concerns?

While I agree `cron_spool_t` looks more appropriate, it has changed exactly from this type to `user_cron_spool_t` 9 years ago in commit f422c49a6543d8a15bcccdabcc7083f73e795bac. There is no further explanation, so not sure about the motivation.

Checking roughly the number of domains also looks as if there was no big dif

[2020-07-07 18:44] dustymabe commented on #382
Hey All,

Even after I changed the context of the file (`chcon -t svirt_home_t sleep.img`) on (in my case) `/home/core/sleep.img` I still get more errors (found by setting system to permissive mode):

[code]

Do we know what permissions are needed for systemd `RootImage=` directive? Maybe we should tag a systemd maintainer in over here.

[2020-07-07 19:27] ghost commented on #382
Dusty Mabe <notifications@github.com> writes:

AFAIK, The above: systemd needs to r/w the loop control device.
systemd needs to r/w the (inherited) images, and systemd needs access to
/dev/loopN (which are labeled as fixed disk devices/raw storage)

The last requirement is in my view the most problematic as it requires
that systemd can "read/write" raw storage.

--
gpg --locate-keys dominick.grift

[2020-07-14 14:17] Koncpa commented on #290
Hi @svarshavchik,
I made pull request for first mentioned issue and I want to ask to second issue about which you write.
How do you start courier service? Via systemctl or do you start service manually?
Because when you start services manually, this service get label unconfined_service_t and then can arise issue with some permission.

Thanks,
Patrik

[2020-07-15 00:25] svarshavchik commented on #290
Yes, some of the rpm subpackages attempt to stop and/or restart daemon services directly and not via systemctl.

However this is somewhat less important now. With RHEL6 going EOL later this year, I'll update the rpm packages to use triggers, that were implemented in rpm 4.10 from RHEL7 and up; and use systemctl in the updated packaging.

[2020-07-15 15:44] Koncpa commented on #290
So that's the reason, why **"/var/spool/courier/sqwebmail.sock** had label **unconfined_service_t** and then arise issue with permission. Only services which starts via systemctl get right labels.

Patrik

[2020-08-10 09:33] Koncpa commented on #290
Hi @svarshavchik,
so the issue is closed,  in policy is solved via boolean. By default courier cannot manage spool socket, but
when turn on boolean "# setsebool courier_manage_spool_sockets on"  it's allowed.

[2020-08-10 10:23] svarshavchik commented on #290
Well, that's the only way it works, the webmail server expects to be able to open the socket and listen on it. So, this option will always need to be manually turned on. I suppose I can have the rpm's %post do it.

[2020-08-28 13:35] zpytela commented on #391
@DemiMarie I've create a PR to address this issue, could you take a look?

https://github.com/fedora-selinux/selinux-policy/pull/423

[2020-08-28 13:35] zpytela commented on #392
@DemiMarie, was this answer sufficient?

[2020-08-28 13:43] DemiMarie commented on #392
@zpytela if I recall correctly, the access granted wasn’t sufficient to do damage.  I will reopen if this becomes a problem.

[2020-08-28 13:43] #392 closed, assigned to nobody

[2020-09-25 03:15] brianpepino opened #445 "Fedora 32 SELinux prompt "SELinux is preventing unbound-anchor from name_bind access on the udp_socket port 61000" after hibernation."
Hi Guys,

After hibernation of my Fedora 32 desktop, I got these message or prompt from SELinux:

SELinux is preventing unbound-anchor from name_bind access on the udp_socket port 61000.

Plugin: bind_ports
 SELinux has denied the unbound-anchor from binding to a network port 61000
which does not have an SELinux type associated with it. If unbound-anchor should
be allowed to listen on 61000, use t

[2020-09-25 04:36] zpytela commented on #445
This should be fixed in the unbound package - what is your version? Do you use default configuration file?

[2020-09-25 05:20] brianpepino commented on #445
I am using:

selinux-policy.noarch                      3.14.5-43.fc32
selinux-policy-targeted.noarch        3.14.5-43.fc32

And I am running SELinux on a default configuration.

Any advise on what I should I do? Thanks.

[2020-09-25 11:20] WOnder93 commented on #445
@vmojzis The message from setroubleshoot above seems kind of odd ("port type that named_t can bind to (%s)") also the list of suggested port types is suspiciously long... perhaps a setroubleshoot bug?

[2020-09-25 11:20] zpytela commented on #445
I meant the unbound package version: this is the latest - unbound-1.10.1-1.fc32.x86_64
and it contains in the configuration:
[code]
so it should not try to bind to port 61000

[2020-09-27 23:45] brianpepino commented on #445
Yes, you are correct. I have "unbound-libs.x86_64 1.10.1-1.fc32" and it solved the issue.

Thank you so much for the help.

Regarding closing this issue, do I just close it?

[2020-09-30 15:35] zpytela commented on #445
Right, just close. Doing it now.

[2020-09-30 15:35] #445 closed, assigned to nobody

[2020-12-10 11:32] WOnder93 opened #504 "container_spc_stream_connect(domain) in domain.te generates a suspicious allow rule"
The `container_spc_stream_connect(domain)` call in domain.te expands (among other rules) to this:
[code]
It should be investigated whether this can be reduced to something more sane (e.g. by reducing the target domain to something more specific than `pidfile`). This is in the end mainly a container-selinux issue, but filing it here so it isn't forgotten.

[2020-12-10 17:50] zpytela commented on #504
The interface was added with the 4f75f8ae056f4dc2c8cfdd41c8303d46a2290e73 commit and contains  `files_write_all_pid_sockets($1)` which basically is just `allow $1 pidfile:sock_file write_sock_file_perms;`. I can't see a good solution here.

[2020-12-14 09:21] sreyan32 opened #508 "SELinux blocking access to swap file in /var/swap directory : Not enough swap space for hibernation"
I have a BTRFS sub-volume with a swap file which I have mounted in `/var/swap`.

SELinux is blocking `search` access to the `/var/swap` directory:

`type=AVC msg=audit(1607936972.418:357): avc:  denied  { search } for  pid=1359 comm="systemd-logind" name="swap" dev="dm-0" ino=256 scontext=system_u:system_r:systemd_logind_t:s0 tcontext=system_u:object_r:unlabeled_t:s0 tclass=dir permissive=0`

What

[2020-12-14 09:36] zpytela commented on #508
@sreyan32 the correct type for a swap file is `swapfile_t`. It should be assigned by tools like mkswap.

In this case, the command is not allowed to get through the directory. The default type for /var/swap is `var_t`. I think the easiest approach is relabel it to `var_t`, but it also depends on other configuration and if you get some subsequent denials.

Also note /var/swap is not defined in FHS.

[2020-12-14 09:42] sreyan32 commented on #508
`var_t` is the default assignment and it did not work.

Relabeling to `etc_runtime_t` seems to work, but I am now worried if it gives it **too much access**.

Also what is the best place to mount a swap volume in Fedora 33 ?

[2020-12-14 09:56] zpytela commented on #508
What do you mean by did not work? The search permission as reported is allowed:
[code]
I don't think there is a default path for swapfile, very commonly it is /swapfile, but the resolution is up to administrator, based on other factors.

[2020-12-14 10:23] sreyan32 commented on #508
Well with `var_t` I got the same denied message :

`type=AVC msg=audit(1607936972.418:357): avc: denied { search } for pid=1359 comm="systemd-logind" name="swap" dev="dm-0" ino=256 scontext=system_u:system_r:systemd_logind_t:s0 tcontext=system_u:object_r:unlabeled_t:s0 tclass=dir permissive=0`

What does `etc_runtime_t` type correspond to ?

[2020-12-14 12:30] WOnder93 commented on #508
In the AVC the target context is still `unlabeled_t`, so it means whatever you did to change the label to `var_t` didn't quite work. It is possible that the `/var/swap` directory on the root volume (as opposed to the root directory on the mounted subvolume) is mislabeled (but then it wouldn't work even with `etc_runtime_t`,,,). If that is the case, you'll need to unmount `/var/swap`, run `restorec

[2020-12-14 13:02] sreyan32 commented on #508
Well it already works absolutely fine with `etc_runtime_t`. I am just worried that I am giving it too much permissions.

[2020-12-15 06:11] DemiMarie opened #510 "staff_t can’t use Flatpak"
`bwrap` isn’t allowed to mount filesystems or create network interfaces.

[2020-12-15 09:49] zpytela commented on #510
@DemiMarie would you be able to send a PR? Anyway, please share the reproducing steps and AVC denials.

[2020-12-15 12:25] zpytela commented on #391
Closing as the PR has been closed as well.

[2020-12-17 07:44] maage opened #520 "user_t sysadm_t logout issue"
In commit a90f520338893e913011073937221c0ce3391347 this issue is fixed for staff_t, but user_t and sysadm_t did not catch the same fix.

I see this same issue as this:

https://bugzilla.redhat.com/show_bug.cgi?id=1544272

with user_t. And assume it affects also sysadm_t.

As there is some other issues with user_t, it is not easy to reproduce in straightforward manner, but I hope this issue is some

[2020-12-18 15:26] langeman69 commented on #325
Any progress on this? Fedora 33 is still suffering this issue :(

[2020-12-18 19:06] zpytela commented on #325
Unfortunately there has no reasonable progress made, but we know it needs to be addressed.

[2020-12-25 22:53] DemiMarie opened #524 "systemd transient units have wrong contexts"
Culprit is missing `type_transition` rules for `transient`, `generator.early`, `generator.late`, and possibly other directories.

[2020-12-28 02:10] patsoffice opened #525 "iscsiadm command usage in systemd unit file results in AVC denial"
The issue for this problem was originally raised in https://github.com/coreos/fedora-coreos-tracker/issues/705.

I downloaded the current (as of 2020/12/27) Fedora Cloud image and installed it as a VM.

An iscsi target was created on a local FreeNAS server and the `iscsi-initiator-tools` were installed in the VM. I then created a systemd unit file in `/etc/systemd/system/iscsi-setup-testing.servic

[2020-12-28 02:44] patsoffice commented on #525
Bugzilla issue created: https://bugzilla.redhat.com/show_bug.cgi?id=1911161

[2021-01-05 16:21] patsoffice commented on #525
Closing this issue as the problem should be fixed upstream in open-iscsi. Specifically, the directory creation permissions used are 0660 (vs. 0770) and that's what's the root cause of the dac_override denial.

[2021-01-05 16:21] #525 closed, assigned to nobody

[2021-01-14 10:59] polarathene opened #541 "."
Github bug 404'd but submitted issue. Ignore this one. [Actual issue](https://github.com/fedora-selinux/selinux-policy/issues/542).

[2021-01-14 11:01] polarathene opened #542 "Allow loading compressor modules for zram? (via zram-generator in Fedora 33)"
Recently with Fedora 33 adopting zram by default with the zram-generator systemd project, it's been noticed that attempting to configure the compression algorithm to a compressor not loaded in (zstd, lz4, lz4hc) fails.

Running `modprobe zstd` would succeed when configuring zram-generator to use zstd. The project is opting to call this command within their code internally to ensure the module is l

[2021-01-14 11:02] #541 closed, assigned to nobody

[2021-01-15 11:00] zpytela commented on #542
@polarathene can you put here reproducer steps and audited AVC denials?
[code]

[2021-01-20 22:17] polarathene commented on #542
## Reproduction

Fresh VPS instance of Fedora 33 on Vultr:

Add another zram device with zstd compression (when I tried this on zram0 and rebooted, perhaps due to the failure any `systemctl` command, the system seemed broken and reported "Connection timed out" errors on failure, SSH also took noticeable longer to suceed):

[code]

`dmesg outputs:`

[code]

Then running `systemctl restart swap.targ

[2021-01-24 17:16] paulraines68 opened #550 "With latest C8/RHEL8, I now need allow winbind_t winbind_exec_t:file execute_no_trans"
I my samba config I have

`   idmap config MYDOMAIN : script = /etc/samba/idmap_script.sh`

In the past this just required

  ` semanage fcontext -a -t winbind_exec_t /etc/samba/idmap_script.sh`

However, I am getting permission denied failures now with calling of the script.  It works with SELINUX disabled. The audit log has

[code]

which means I need

[code]

Am I missing something or is this s

[2021-01-24 17:26] ghost commented on #550
Paul Raines <notifications@github.com> writes:

Looking at the history of that module I cannot identify that ever being
allowed. Nevertheless , accorcing to the policy you should be able to
use type bin_t instead:

# remove existing spec
semanage fcontext -d -t winbind_exec_t /etc/samba/idmap_script.sh
# add new spec
semanage fcontext -d -t bin_t "/etc/samba/idmap_script\.sh"
# reset
restorecon -v

[2021-01-24 17:28] ghost commented on #550
Dominick Grift <dominick.grift@defensec.nl> writes:

err, make that: semanage fcontext -a -t bin_t
"/etc/samba/idmap_script\.sh"

--
gpg --locate-keys dominick.grift@defensec.nl
Key fingerprint = FCD2 3660 5D6B 9D27 7FC6  E0FF DA7E 521F 10F6 4098
https://sks-keyservers.net/pks/lookup?op=get&search=0xDA7E521F10F64098
Dominick Grift

[2021-01-25 16:25] ghost commented on #550
I received a similar report from another Centos8 user on IRC but in his case for shorewall.
I think some policy bug did creep in rhel8 where the execute_no_trans permission was removed from some permission set, pattern or otherwise lower level macro.

So now it seems that callers of that macro blow up all over the place because they relied on "execute_no_trans"

I couldnt quite find that change in

[2021-01-25 17:00] ghost commented on #550
never mind that was a slightly different issue...

[2021-02-06 18:01] kloczek opened #564 "No version tags?"
Looks like sonce last tagged release in Jan 2018 have been added +9.8k commits and during that time even one none of the new ersions has been tagged.
Is it possible to add just `<version>` tag of the last release?
(just version without dashes ot any additional strings in tag)

[2021-02-07 13:23] bachradsusi commented on #564
I'm afraid there's no releases made in this repo. Fedora itself uses a snapshot of this repo  based on the latest commit in `rawhide` branch, see https://src.fedoraproject.org/rpms/selinux-policy/blob/rawhide/f/make-rhat-patches.sh

So how would you like to use this `<version>` tag? What it would be good for?

[2021-02-07 14:20] kloczek commented on #564
So you as the maintainetr cannot make the relese of that repo?

[2021-02-07 14:38] bachradsusi commented on #564
I'd like to understand how this release should look like, what it would be good for, and so on. This tag could be corresponding to some Fedora package version, or tag which says that Fedora 33 was branched at the moment, or some artificial number like `13`, or basically anything else.

[2021-02-13 20:57] maage opened #589 "staff_u can not use mock"
Can not run mock using under SELinux user staff_u.

Version-Release number of selected component (if applicable):

kernel-5.10.14-200.fc33.x86_64
selinux-policy-targeted-3.14.6-34.fc33.noarch
mock-2.9-1.fc33.noarch
usermode-1.112-9.fc33.x86_64
libselinux-3.1-2.fc33.x86_64

Steps to Reproduce:
1. Install new virtual machine from latest Fedora 33 image and install relevant packages, reset selinux co

[2021-02-24 01:05] chergert opened #614 "sysprofd unable to access perf events"
We use Sysprof all over the place in GNOME to do system profiling. I just updated to F34 today and it appears that sysprofd is now getting audit denials when trying to access perf.

[code]

[2021-02-24 20:26] zpytela commented on #614
@WOnder93 I'd appreciate if you could take a look at the second denial: `unconfined_t` wants to read `unconfined_service_t` - is this expected?

[2021-02-24 20:46] WOnder93 commented on #614
The perf event is represented by a file descriptor, which can be passed between processes (e.g. via a UNIX socket or DBus). A perf event has a label, which is inherited from the creating process at the time of creation.

My guess is that the `sysprofd` service opens the event fd and sends it to "client" processes (in this case it was `sysprof` started from a user session) upon request, which then

[2021-02-24 20:55] chergert commented on #614
You are correct in your description of how this works. Sysprof/Sysprof-cli use the daemon to get elevated access to perf_event FDs.

[2021-03-05 13:10] zpytela commented on #325
The problem has been fixed for F34 and rawhide: https://github.com/fedora-selinux/selinux-policy/pull/625
the commit will be a part of the next build. I will consider inclusion into F33 too.

Thanks for reporting, @travier.

[2021-03-05 13:10] #325 closed, assigned to nobody

[2021-03-13 10:55] travier commented on #325
Thanks for doing that!

[2021-03-13 12:46] kloczek commented on #564
At the moment in Fedora is version 3.14.8 and here there is tag which could mark state of the code on 3.14.8 release.

[2021-03-13 12:50] kloczek commented on #564
At the ame time at the moment is almost 10k commits added since last tagged version. Without tags it is not possible to veryfy what was on actual version which was used as base for Fedora.
Is it possible to make new version like 3.14.9 and tag it in git repo?

[2021-03-16 15:34] zpytela commented on #564
We currently do not use tags in git repo and do not plan to, we do not have the build process based on using tags.

[2021-03-16 21:44] chergert commented on #614
What should we tell users to do on F34 to get this working? I'd like to avoid telling them to disable selinux altogether.

[2021-03-16 22:35] kloczek commented on #564
So if tags marking versions are not used what is used instead?

[2021-03-17 19:00] zpytela commented on #614
@chergert unless somebody writes a PR earlier, I should fix it in some 2 weeks time, just as a prerequisite a new interface needs to be created.

[2021-03-22 10:44] zpytela commented on #564
The latest rawhide branch commit at the moment of the package build, see the previous answers from bachradsusi.

[2021-03-22 11:08] kloczek commented on #564
I'm not using rawhide.
So is it possible to add tag for least last version and keep adding such tags in the future? :P

[2021-03-22 11:08] kloczek commented on #564
.. please :)

[2021-03-22 17:29] zpytela commented on #564
@kloczek fyi we are currently discussing in the team if and how we could support tags.

[2021-03-22 21:32] kloczek commented on #564
OK thx.

[2021-05-03 15:45] theKAKAN opened #711 "vnStatd has missing attribute `vnstatd_var_lib_t` and `domain_can_mmap_files`"
Hello, I just installed vnstat using `sudo dnf install vnstat` and after trying to start it using `sudo systemctl start vnstat`, I constantly ran into issues, and it stopped abruptly.
After poking around for some time, it seems like the issue is with SELinux policy not allowing read access on the database file(s).
Here's the log that I had:
[code]

After running:
[code]
I ran into issues with the

[2021-05-03 17:44] zpytela commented on #711
@theKAKAN I cannot reproduce this issue: After installation, the directory has correct type and the database inherits the parent directory type:
[code]

Resorecon indeed fixes this issue, but I cannot tell why you ran into this issue. You can remove the custom semanage-fcontext rule and check:
[code]

[2021-05-03 17:46] zpytela commented on #711
For the other issue, details are missing, but I suppose the fact vnstatd has almost all but map permission:
[code]
means this permission needs to be added to the policy.

[2021-05-04 22:38] imciner2 opened #717 "/etc/NetworkManager/VPN blocked by selinux in F34"
The Fedora 34 selinux policy seems to be blocking access by NetworkManager to the `/etc/NetworkManager/VPN` directory by default now - which is causing a lot of selinux denial messages (about 1 every few seconds). That directory is one of the places that NetworkManger uses to detect VPN connections/plugins. The package isn't creating the directory anymore, but it could be present from older system

[2021-05-04 23:08] AdamWill commented on #717
This is already known, the issue serves no purpose. The bug was initially filed against selinux-policy and was already looked at by the maintainer, Zdenek Pytela. You can see his comments there.

[2021-05-05 08:49] zpytela commented on #717
So in the end it will be addressed in selinux-policy.
https://github.com/fedora-selinux/selinux-policy/pull/718

[2021-05-05 08:49] #717 closed, assigned to nobody

[2021-05-06 08:06] #614 closed, assigned to nobody

[2021-05-06 09:01] zpytela commented on #614
@chergert, now there are 2 PRs to address the issue, I am sorry for the delay, should be included in the very next build.
https://github.com/fedora-selinux/selinux-policy/pull/722
https://github.com/fedora-selinux/selinux-policy/pull/723

The build in the second PR (build-rpm - details - artifacts) can be used for testing, especially to find out if some other permission is needed.

The lockdown pe

[2021-05-06 17:02] chergert commented on #614
Thanks!

[2021-05-08 12:03] liutgnu opened #727 "kdump fails by selinux"
Hello, I have encountered a problem that selinux refused kdump to access to /var/lib/kdump/initramfs-*kdump.img.

In fedora, kexec-tools usually creates initramfs-*kdump.img in /boot partition. When /boot is read-only, it creates initramfs in /var/lib/kdump/ by patch [1]. The initramfs can be created successfully, however, when kexec-tools try to load the file, selinux give the following error log

[2021-05-10 16:28] zpytela commented on #727
@liutgnu it has been reported in https://bugzilla.redhat.com/show_bug.cgi?id=1951323
Thank you for the additional details which make it clearer.

Basically the solution consists of adding a private type for `/var/lib/kdump` and make `kdump_t` manage it.

[2021-05-11 05:14] liutgnu commented on #727
@zpytela Thank you very much for the updating!

[2021-05-11 06:03] theKAKAN commented on #711
Sorry for the late reply. Indeed, I can't seem to recreate the first issue either. So, it seems like it was something to do with my system...

The second issue, it seems, happens after I uninstalled some packages, which might have removed the mmap permission globally.
I'm still not sure which, but for now, I suppose this could be considered an issue as the vnstat policy doesn't explicitly ask for

[2021-05-11 06:54] zpytela commented on #711
Setting the `domain_can_mmap_files` boolean to on adds the map permission to all domains. You can list all customizations with:

[code]

[2021-05-11 12:01] zpytela commented on #727
@liutgnu closing this issue in favor of https://github.com/fedora-selinux/selinux-policy/pull/732 to continue the discussion there or in the bz. I am looking for other services accessing /var/lib/kdump.

[2021-05-11 12:01] #727 closed, assigned to nobody

[2021-05-11 12:54] zpytela commented on #711
Closing in favor of https://github.com/fedora-selinux/selinux-policy/pull/733

[2021-05-11 12:54] #711 closed, assigned to nobody

[2021-05-16 04:50] YaLTeR commented on #614
F34 Silverblue, selinux-policy-34.7-1.fc34.noarch

Seems like sysprof is still unable to capture stack traces:
[code]

[2021-05-17 16:36] zpytela commented on #614
@YaLTeR , can you install setools-console and run the following commands? I see the permissions allowed with selinux-policy-34.6-1 and newer.
[code]
Can you also confirm the latest selinux-policy package version was installed before these audit records were audited?

[2021-05-17 16:53] YaLTeR commented on #614
[code]

Yes.

[2021-05-17 17:28] zpytela commented on #614
Is it possible the selinux-policy update failed, so it is still the old policy in place?
[code]

[2021-05-17 17:30] YaLTeR commented on #614
Is that really possible on Silverblue? :)

[code]

[2021-05-31 07:15] HuaxinLu opened #761 "SELinux is preventing rpcbind from 'name_bind' accesses on the udp_socket port"
I meet the same problem as https://bugzilla.redhat.com/show_bug.cgi?id=1758147. Someone said that turn on the nis_enabled bool flag can solved. But after turning it on, the problem still occurs probabilistically.

I set nis_enabled to 1 and run this test script on f34:
[code]

This script stops at:
[code]

The result of audit2allow:
[code]

rpcbind should bind a random udp port. The port range is

[2021-06-04 19:44] zpytela commented on #761
selinux policy allows acces to ephemeral ports as defined in kernel:
[code]
If some service uses a different range, it should rather be fixed in the service to align with the default kernel settings.

[2021-06-14 21:20] cgwalters opened #778 "systemd (`initrc_t`) does not domain transition when executing `shell_exec_t`"
See https://bugzilla.redhat.com/show_bug.cgi?id=1956836#c35

[code]

And this is true on FCOS too, it has nothing to do with the label of `/usr/local/sbin`.

Invoking things via `bash` is suppressing the domain transition.  This seems like a general selinux-policy issue, though I am
not sure if it's an intentional design decision or not.  I find this *very* surprising and it's going to be a recurr

[2021-06-14 21:30] cgwalters commented on #778
I also triple checked this by doing `cp /usr/bin/bash /usr/local/bin/myshell` (where `myshell` is `bin_t` not `shell_exec_t`) and as expected `ExecStart=/usr/local/bin/myshell -c id` is `unconfined_service_t`.

[2021-06-15 06:28] YaLTeR commented on #614
Still the same issue on `selinux-policy-34.11-1.fc34.noarch`.

[2021-06-15 12:20] zpytela commented on #614
@YaLTeR Can you paste the avc denials and any additional information leading to triggering your issue?

[2021-06-15 16:49] YaLTeR commented on #614
I simply open Sysprof and start the capture. Then these messages appear in the journal, and upon stopping, the capture does not contain any stack traces.
[code]

[2021-06-15 18:25] zpytela commented on #778
I don't know if it was made intentionally, but I know it is used as it is now. Any change like the suggested transition needs to be considered very carefully.

[2021-06-15 19:25] cgwalters commented on #778
Agree.  I think what we may need to do in the short term is add some sort of easy *opt-in* way to do this.  I guess today one can explicitly:
[code]

But I think that's hardcoding too much of the policy in the unit.  Hmm.  Maybe something like `SELinuxContext=/usr/bin` to basically do a domain transition as if we were executing a file of the target type (i.e. `bin_t`)?

[2021-06-15 20:20] WOnder93 commented on #778
Unless I'm mistaken, `initrc_t` is not the domain of systemd (that's `init_t`), but rather a generic domain for what used to be the "rc" scripts (i.e. the stuff in `/etc/rc.d` and friends). So I think it makes sense for this transition (`type_transition init_t shell_exec_t:process initrc_t;`) to exist, even if it's kind of a legacy artifact from the pre-systemd age. Or at least it's not as bad as

[2021-06-15 20:24] cgwalters commented on #778
Yes...the tricky case is more that it's often convenient to inline `ExecStart=bash -c "some code here"` and doing what you're saying requires creating a new file separate from the unit.  (Which, is a best practice but gets annoying for "one liners")

[2021-06-18 15:39] zpytela commented on #778
Ondrej is correct. Frankly, I don't know how we can help you further. For instant testing, you can use transient services:
[code]

[2021-06-24 17:32] YaLTeR commented on #614
I did a clean F34 Silverblue install and here it works. Seems like something is broken in selinux policy updating then.

[2021-06-24 18:15] WOnder93 commented on #614
Hm... https://github.com/coreos/fedora-coreos-tracker/issues/701 strikes again?

[2021-06-24 19:02] YaLTeR commented on #614
I did have one selinux override on my system.

[2021-07-01 14:34] arymangupta commented on #287
I am facing this issue not sure what is the reason here

[user@redhat7 ~]$ sudo semodule -v -v -i user.pp
Attempting to install module 'user.pp':
Ok: return value of 0.
Committing changes:
Failed to resolve typeattributeset statement at /etc/selinux/targeted/tmp/modules/400/user/cil:4
semodule:  Failed!

[user@redhat7 ~]$ sudo semodule -v -v -i user.cil
Attempting to install module 'user.cil':
lib

[2021-07-16 07:22] vilgotf opened #805 "systemd: unable to use LoadCredential"
[LoadCredential](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#LoadCredential=ID:PATH) (247+) does not work OOTB on f34 and creates the following audit denial messages:
[code]

[2021-07-16 07:47] ghost commented on #805
i think its because you have ramfs mounted on /dev/shm instead of the usual tmpfs.

but yes ... for this reason i would argue that ramfs should be labeled the same as tmpfs (tmpfs_t)

Because they can be often interchanged with memfd so you want some consisitency there.

[2021-07-16 07:52] vilgotf commented on #805
`/dev/shm` doesn't show up with `findmnt`, but according to `mount` it's mounted as a `tmpfs`. (I've not changed this system (fedora IoT) in any meaningful way)

`/dev/shm` is `system_u:object_r:tmpfs_t:s0`... weird that it shows up as `ramfs_t`

[2021-07-16 08:02] vilgotf commented on #805
`semanage fcontext` shows this:
[code]
So I think it should be labeled as `tmpfs_t`...

[2021-07-16 08:07] ghost commented on #805
Yes looks like inconsistency, exactly the reason why fedora should probably look into labeling ramfs filesystems the same as tmpfs filesystems. (fs_use "ramfs" ...)

[2021-07-16 08:10] vilgotf commented on #805
Oh yes, systemd docs mention how LoadCredential "is backed by non-swappable memory" (ramfs).

[2021-07-16 08:22] ghost commented on #805
Hm, interesting. Then using ramfs_t might worth it since it can be used to enforce the use of non-swappable memory. Although in this case it would not make a difference since systemd also uses memfd.

Decisions, decisions ....

[2021-07-19 19:18] quanah opened #808 "contrib/ldap.fc refers to long abandoned locations"
In contrib ldap.fc there are these three lines:

[code]

The replog file and the slurpd directory were for the old OpenLDAP 2.3 and prior replication mechanism.  OpenLDAP 2.3 went EOL in 2008.

The LDBM location was a backend in OpenLDAP 2.3 and prior that was obsoleted starting with OpenLDAP 2.1's back-bdb and OpenLDAP 2.2's back-hdb.  It was EOL in 2008.

[2021-08-18 11:55] echo-1900 opened #838 "Fail to start docker when using the minimum policy"
When setting the SELINUXTYPE to minimum, docker can not start.

My selinux config is :
[code]

Then when i execute `service docker start` , docker threw a error:
`/usr/bin/docker-current: Error response from daemon: error creating overlay mount to /var/lib/docker/xxxxxxxx/merged
`

I have studied some related issue in docker community, but most of them are something about the filesystem and can be

[2021-08-20 09:10] benzea opened #840 "Allow fprintd suspend/resume"
fprintd 1.94.0 is getting support for suspend/resume. This requires more permissions:
 * logind inhibitor API (`org.freedesktop.login1.Inhibit` call and the associated FD passing)
 * `power/persist` and `power/wakeup` sysfs attributes for USB devices

Note that we could unconditionally turn off `power/persist`. But it does make sense to runtime-configure wakeup (as there is no point in having USB

[2021-08-20 09:13] benzea opened #841 "fprintd SPI support"
fprintd/libfprint 1.92.0 adds support for SPI devices. These are accessed through `/dev/spidev*` (there is a udev rule to bind the spidev driver).

I am not sure as I cannot test this. But I suspect that the selinux policy needs to be adjusted to grant access to the device.

[2021-08-20 09:47] ghost commented on #840
Benjamin Berg ***@***.***> writes:

it is in permissive mode and the event is the same, selinux does not log
duplicate avc denials when in permissive mode to avoid log flooding.

I would consider using genfscon to label those wakup and persist files with a
private type if practical so that write access for fprintd can be granted to those two
files only and not the remainder of /sys

--
gpg --locat

[2021-08-20 10:37] benzea commented on #841
Oh, I forgot (and actually forgot about that upstream in the systemd config too!). `hidraw` device access may also be necessary in order to do a HW reset of the fingerprint reader.

i.e. opening an hidraw device and doing a `HIDIOCSFEATURE` ioctl.

[2021-08-30 15:35] zpytela commented on #841
@benzea Can you give some usage example? The type for the device file is `usb_device_t` and a few dozens of SELinux domains have already access to it.
[code]

[2021-08-30 16:26] benzea commented on #841
Hm, I don't quite understand.

The spidev and hidraw devices have different a major number compared to USB. So I really doubt that those are covered by the usb_device_t rule.

[code]

Right, I see the following now:
[code]

If that means that both hidraw[0-9] and spidev are always tagged as `usb_device_t` then this will work just fine already. I am a bit surprised to see that, but fine with me.

[2021-08-30 16:26] benzea commented on #841
So, I suspect this is "not a bug".

[2021-08-31 05:43] laolux opened #855 "staff_u using journalctl --user causes lots of avc messages"
When a staff_u user tries to look at journalctl --user, then many avc messages are generated.
Looking at journactl --user is successful though.

Steps to reproduce:
1. as staff_u, execute `journalctl --user -xeu randomunit` (the unit does not need to exist, just choose a random name; also works if the unit exists and good output is generated)
2. look at all the avc denials.

Mostly `{ getattr }` a

[2021-09-04 06:27] lujiev opened #860 "Fail to rasdaemon when SELINUX=enforcing"
when setting the SELIINUX to enforcing, The rasdaemon function is unavailable and an error is reported
“rasdaemon: page offline addr(0x208000f000) by /sys/devices/system/memory/soft_offline_page failed, errno:1”

The result of audit2allow:
allow rasdaemon_t  self:capability sys_admin;

Analysis shows that the implementation of soft_offline_page in the kernel determines whether have CAP_SYS_ADMIN,

[2021-09-04 06:51] lujiev opened #861 "Failed to invoke hostnamectl during RPM package installation."
when invoke hostnamectl in the spec file %post of the RPM package. An error will be reported.
eg: xx.spec
%post
/usr/bin/hostnamectl --transient 2>/dev/null

type=USER_AVC msg=audit(1629680761.898:34753): pid=832 uid=995 auid=4294967295 ses=4294967295 subj=system_u:system_r:system_dbusd_t:s0-s0:c0.c1023 msg='avc:  denied  { send_msg } for msgtype=method_return dest=:1.14057 spid=4176556 tpid=41765

[2021-09-04 07:00] lujiev opened #862 "Code cleanup"
https://github.com/fedora-selinux/selinux-policy/commit/5da0f01281f2aaacddb6c1edd57f747f26575f11

code
    gen_require(`
        attribute unpriv_userdomain, userdomain;
    ')
    typeattribute $1  unpriv_userdomain;
    typeattribute $1  userdomain;

    auth_use_nsswitch($1)

Delete Code：typeattribute $1  unpriv_userdomain;
and  This line of code which   "attribute unpriv_userdomain, userdomain

[2021-09-08 06:23] laolux opened #864 "systemd killing staff_u service units causes avc denials"
Running a systemd --user unit as staff_u causes avc denials when the system is shut down or rebooted.
No error occurs when the staff_u user himself stops the systemd --user unit.
It does not seem to happen to all kinds of --user service units, but I have been encountering this problem when using podman (hence the [original bug report](https://github.com/containers/container-selinux/issues/145), wh

[2021-09-13 16:06] zpytela commented on #862
@lujiev You are right, thanks for the catch. Would you mind creating a PR for that?

[2021-09-13 16:09] zpytela commented on #860
@lujiev, thanks for the analysis, this one should also be easy to address, will you?

[2021-09-13 16:10] zpytela commented on #861
@lujiev What is the use case of running specific commands in rpm scriptlets?

[2021-09-16 07:26] #862 closed, assigned to nobody

[2021-09-16 08:32] zpytela commented on #841
@benzea, if `usb_device_t` is an appropriate type for `/dev/spidev.*` and the domain which access the device already have the permission, there should be no problem.
If you think the type should be different, please explain and we can possibly change it.

[2021-09-21 23:22] chergert opened #886 "Sysprof denial on access to perf events from podman/toolbox"
F35 Host, F35 toolbox created with `toolbox create`/`toolbox enter`.

After that, using the `sysprof-cli` command within the container should connect to the host `/usr/libexec/sysprofd` via the system D-Bus.

However, `read()` on the perf FD passed over D-Bus fails from `sysprof-cli`.

[code]

[2021-09-21 23:23] chergert commented on #886
Note that the way this works is that the `sysprof-cli` requests a series of FDs for perf-event streams from `sysprofd` (on the host) which get mmap'd in the container/user process for reading.

[2021-09-22 00:33] rhatdan commented on #886
unconfined domains should be allowed to read perf_event on all domains.

[2021-09-23 12:28] #886 closed, assigned to nobody

[2021-09-23 12:29] zpytela commented on #886
The permissions should be changed in the next selinux-policy builds.

[2021-09-23 14:36] mgrepl commented on #861
@zpytela,

is not it a valid use case to run code on installation and removal of pkgs?

I see there are already some rules for few systemd services allowing dbus chat in the rpm policy.

Or we could allow dbus chat with domains by default within the unconfined_domain() block in the rpm policy.

[2021-10-03 18:57] hlovdal commented on #112
It is still not updated. Could you please start keeping it up to date?

[2021-10-21 06:00] #860 closed, assigned to nobody

[2021-10-26 16:15] zpytela commented on #564
@kloczek Tags have started to be used to mark the latest commit in a particular release, the pattern is "v+FedoraVersion+dot+OrderInTheFedoraVersion".

[2021-10-26 16:21] kloczek commented on #564
Thank you :)

Closing ticket.

[2021-10-26 16:21] #564 closed, assigned to nobody

[2021-10-26 16:23] zpytela commented on #564
Thank you for you patience, it really took more time than expected, hopefully it is now a part of the process, i. e. "error safe".

[2021-11-01 01:40] space88man opened #930 "Fedora 35: out-of-the-box denials with systemd-nspawn and machinectl"
Versions:
* systemd-249.4-2.fc35.x86_64
* selinux-policy-targeted-35.3-1.20211019git94970fc.fc35.noarch

Scenario:
* Set SELinux to permissive mode and run a AlmaLinux 8 systemd-nspawn container (from the Cloud image) and scrape for denials
* Enter the container using `machinectl shell ....` and `machinectl login ...`
* Stop/start  the container with `machinectl stop.../start...`

Findings:
[code]

[2021-11-01 01:42] space88man commented on #930
Both podman and LXC run out-of-the-box with systemd-based containers. Perhaps the systemd-nspawn policy should pivot to the `container_runtime_t` with dynamic labelling? Pinging @rhatdan here...

[2021-11-01 01:48] space88man commented on #930
If `daemons_use_tty` is set true: then

[code]

[2021-11-01 01:58] space88man commented on #930
[code]

[2021-11-01 11:53] rhatdan commented on #930
Makes sense to me.

[2021-11-03 20:06] zpytela commented on #778
@cgwalters Currently I don't have anything else to comment on. If you don't mind, I'll close this issue.

[2021-11-05 17:47] cgwalters commented on #778
Well, I think [this comment](https://github.com/fedora-selinux/selinux-policy/issues/778#issuecomment-861771537) still stands - it'd be nice to have some easy way to force the domain transition for "one liners".

Or perhaps even better, try to eventually flip the default and force anyone who wants the old behavior to opt-in to it.

Something short and declarative in unit file syntax perhaps like:

[2021-11-05 18:01] zpytela commented on #778
I think my notes are still valid, too.
For transient services or one-liners, systemd-run or also runcon can be used:
[code]

If you are not satisfied with using tools like these, let's restart and describe what is the actual goal.

[2021-11-05 18:12] cgwalters commented on #778
For the case I hit in OpenShift we wanted to define a static service, not a dynamic one via `systemd-run`.

I think the point I'm trying to make here is the current behavior *did* probably make sense in the early days of the SysV :arrow_right: systemd transition, but now seems like a relic. In other words, I'd say only pid 1 should be running as `initrc_t` and we should think of this "bash special

[2021-11-05 18:16] cgwalters commented on #778
I guess taking my argument out, even the very naming is a legacy now, i.e. it should be `systemd_t` - and if we think of that way, then not having `bash` be `systemd_t` seems like a good thing to me.

[2021-11-05 18:33] ghost commented on #778
Colin Walters ***@***.***> writes:

initrc_t is not the domain of pid1, that is init_t. AFAIK the difference
between initrc_t and unconfined_service_t is that there are automatic
transitions associated with with initrc_t and there are little to no
automatic transitions associated with unconfined_service_t.

That makes initrc_t handy for ExecStart=/bin/sh -c '...' because unknown
and coreutils like

[2021-11-10 14:30] benzea commented on #841
Nah, don't worry really. I just really didn't expect that `usb_device_t` is used for other device types.

[2021-11-14 13:51] bexelbie opened #942 "ssmtp provides a sendmail replacement and needs access to unix_stream_socket"
[code]

[2021-11-17 13:44] bexelbie commented on #942
Duplicates https://bugzilla.redhat.com/show_bug.cgi?id=1974582 - closing

[2021-11-17 13:44] #942 closed, assigned to nobody

[2021-11-23 12:26] flo-renaud opened #950 "smbcontrol triggers AVC in SELinux enforcing mode"
The command smbcontrol fails in enforcing mode and triggers an AVC.

In order to reproduce:
[code]

[2021-11-23 12:27] flo-renaud commented on #950
Also tracked against samba at https://bugzilla.samba.org/show_bug.cgi?id=14917

[2021-11-23 12:49] flo-renaud commented on #950
And tracked against fedora 35: https://bugzilla.redhat.com/show_bug.cgi?id=2025931

[2021-11-23 14:47] zpytela commented on #950
The selinux-policy BZ should allow the use of sockets which were not required previously.

[2021-11-30 01:44] DemiMarie opened #957 "Update changes from newer refpolicy"
This includes, but is not limited to, https://github.com/SELinuxProject/refpolicy/pull/357

[2021-11-30 03:15] DemiMarie opened #958 "Make all confidentiality and integrity permissions tunable"
That is, provide a boolean that can be used to enforce system-wide lockdown.

[2021-11-30 11:44] zpytela commented on #958
The lockdown class is on its way out from kernel so we will actually remove it from selinux-policy too once there are new kernels available, probably in rawhide only.

https://www.spinics.net/lists/selinux/msg38008.html

[2021-11-30 11:44] #958 closed, assigned to nobody

[2021-11-30 11:46] zpytela commented on #950
Fix for BZ 2025931 is available in rawhide and F35 updates-testing.

[2021-11-30 11:46] #950 closed, assigned to nobody

[2021-11-30 11:56] ghost commented on #805
Any update on this? Is there a workaround available? It is also not working on Fedora 35.

[2021-12-01 08:13] QuLogic commented on #840
Ping? This is now happening a lot in Fedora 35 now that it's out. https://bugzilla.redhat.com/show_bug.cgi?id=2010925

[2021-12-04 02:10] DemiMarie opened #963 "Containers should not be allowed to search arbitrary directories"
Containers should only be allowed access to what they need, and searching through all directories is not something they need.

[2021-12-04 16:44] rhatdan commented on #963
They can search but they can not list.  It is very error prone to remove the ability to search through all types.

[2021-12-04 18:11] DemiMarie commented on #963
There are two reasons I would like to remove this:

1. Prevent side-channel information leaks, where the amount of time needed to deny an action can be used to determine whether a file exists.
2. Prohibit `lost+found` from being searched by anyone other than the system administrator.  `lost+found` contains files that could be from anywhere on the system, of any label, and owned by anyone.

[2021-12-07 12:08] rhatdan commented on #963
At best this should be a boolean.  Which is allowed by default.  Changing something like this could cause major breakage in installed base.

[2021-12-13 21:07] tasleson opened #971 "Rawhide: systemd-integritysetup: denial: module_request"
The binary: `/usr/lib/systemd/systemd-integritysetup` will try to load the kernel module `dm-integrity` if it's not loaded.  However, with selinux enforcing, this is denied.

[code]
Which causes the generated unit file to fail when you try to start it.

The binary is using the same library as the `integritysetup` tool which is used to format/open/close device mapper integrity targets which will al

[2022-01-07 17:56] zpytela commented on #778
Closing this issue as no new information has appeared since 2 months ago.

[2022-01-07 17:56] #778 closed, assigned to nobody

[2022-01-07 17:56] zpytela commented on #761
Closing this issue as no new information has appeared since half a year ago.

[2022-01-07 17:56] #761 closed, assigned to nobody

[2022-01-07 18:02] zpytela commented on #112
There are currently no plans to keep the changelog updated. Git tags can be used to match corresponding package release in Fedora 35 and rawhide, in particular `v35.8` is the last one.

[2022-01-19 04:30] DemiMarie opened #1013 "AT-SPI does not work as staff_u"
The AT-SPI bus does not work as user_u due to an invalid SID.

[2022-01-19 10:54] mnk-se opened #1015 "selinux-policy-targeted-35.10-1.fc35.noarch seems to break moby-engine"
After installing the selinux-policy-targeted-35.10-1.fc35.noarch update, docker would no longer run.
I had to downgrade to selinux-policy-targeted-35.9-1.fc35.noarch and run `dnf reinstall container-selinux` to make it work again.

[2022-01-19 12:09] zpytela commented on #1015
There is a known problem, expect a new build soon.

[2022-01-26 18:23] zpytela commented on #1015
I suppose the problems are gone with the new selinux-policy-35.11-1.fc35 build, if not create a new issue.

[2022-01-26 18:23] #1015 closed, assigned to nobody

[2022-02-03 13:23] zpytela commented on #1013
Hi @DemiMarie,
can you please share some details, especially audit logs? Is it still not working with selinux-policy-35.13?

[2022-02-03 18:11] DemiMarie commented on #1013
I can check in a throwaway VM; I don’t normally install stuff from the testing repos except for security patches.

[2022-02-07 16:04] halaney opened #1050 "systemd-modules-load cannot load modules that require module_request"
Some kernel modules end up calling `request_module()` in kernel, which requires `module_request` permission with selinux.

It makes sense to me that `systemd-modules-load` should have that permission in addition to `module_load`.

Some details:
[code]
and..
[code]

Hopefully I explained that properly, this is my first time looking at anything selinux related.

[2022-03-02 00:20] realsobek opened #1103 "policy for eCryptfs"
I noticed this with Fedora 34, did not test Fedora 35. Problem still in Fedora 36 with selinux-policy-36.3-1.fc36.noarch.
eCryptfs' "~/Private" is not mounted automatically after GUI login, because SELinux prevents it. Workarounds:
- if SELINUX=enforcing is set and cannot be changed: log in to GUI session; automounting does not work; run `ecryptfs-mount-private` manually
- set SELinux permanently

[2022-03-04 02:47] jmpolom opened #1106 "systemctl --machine flag is only usable from pty console"
Using the `--machine` flag with systemctl seems to result in a cryptic failure on Fedora systems with SELinux in Enforcing mode, unless the command is issued via an ssh session which requests a pty.

Illustrative example command that results in failure (please do not focus on the silly `-S` sudo flag, this is merely a contrived example to demonstrate the problem):
[code]

Issuing the same command

[2022-03-04 11:00] zpytela commented on #1103
@realsobek In SELinux permissive, the volume can be mounted, but the automount feature still does not work. Is there any further setup needed in ecryptfs?

[2022-03-04 22:48] realsobek commented on #1103
@zpytela no further setup required. I made minor wording changes in the first message. No changes below "test with GDM and SDDM".

[2022-03-07 19:13] andrewdunndev commented on #1106
@rhatdan this is one that would be great to have some awareness from the podman community on. I've been using the "rootless-as-non-root" deployment approach (creating a non-root user, then using `podman generate systemd` with user units) and this seems to indicate that the selinux upstream isn't aware that there is a downstream pattern (from podman) that is traversing this type of error.

[2022-03-07 21:57] jmpolom commented on #1106
I cross-posted this issue to the Red Hat Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=2060702

Enabling full auditing did not result in any logs being produced when the offending command was run and ostensibly denied by SELinux. This is a very strange issue! Any troubleshooting insight would be greatly appreciated!

[2022-03-09 15:32] jmpolom commented on #1106
systemd says this is not-our-bug, so this is a policy issue that requires examination

[2022-03-14 12:03] yangzz-97 opened #1108 "Add selinux policy for cloud-init-hotplug"
Cloud-init introduces cloud-init-hotplug.socket requires systemd have add_name capability in the directory /run/cloud-init/hook-hotplug-cmd, I think we need to add a security policy for cloud init hotplug

https://bugs.launchpad.net/cloud-init/+bug/1936229

[2022-03-28 19:28] edewata opened #1114 "Relocating PKI systemd service config file"
Hi,

Currently the config file for PKI systemd service (i.e. `pki-tomcatd`) is located at `/etc/sysconfig/pki-tomcat`:
https://github.com/dogtagpki/pki/blob/master/base/server/share/lib/systemd/system/pki-tomcatd%40.service#L10

This file is actually an exact duplicate of `/etc/pki/pki-tomcat/tomcat.conf`. To reduce maintenance issues I'm trying to modify the service to use `/etc/pki/pki-tomcat/to

[2022-03-29 13:22] yangzz-97 commented on #1108
@zpytela Could you help me? Thank you

[2022-04-06 14:36] mrc0mmand opened #1132 "Several NetworkManager related AVC denials with the latest SELinux policy"
This is mostly just for tracking, since @zpytela confirmed he knows about the issue.

With the latest SELinux policy (c86d943538f907c2e6b20ffda0a8d2b5b5bd2e34 ATTOW) booting a Fedora Rawhide VM with SELinux set to permissive triggers a couple of AVC denials:

[code]

Full journal: [journalctl-testsuite_PASS.txt](https://github.com/fedora-selinux/selinux-policy/files/8427800/journalctl-testsuite_PA

[2022-04-11 14:06] realsobek commented on #1103
Take your time. I only want to establish the connection to the draft Pull Request: https://github.com/fedora-selinux/selinux-policy/pull/1105 Thank you for your help :)

[2022-04-22 14:13] zpytela commented on #1103
Should be in the next F36 build, I will also consider F35 backport.

[2022-04-22 14:13] #1103 closed, assigned to nobody

[2022-05-06 15:46] zpytela commented on #1108
@yangzz-97 I am sorry for the delay in answering. Support for cloud-init was enhanced in selinux-policy in the past months, anyway I cannot reproduce the problem now. Please let me know if it works for you too.

[2022-05-06 16:01] zpytela commented on #1114
@edewata, I am sorry for the delay in answering. Is the only problem systemd needs to read this particular file?

[2022-05-06 17:09] edewata commented on #1114
@zpytela No problem. This is what I found so far, but we won't really know until we have an updated policy to test with. I also noticed there are some obsolete policies that we probably can remove. What's the best way to do this? I'm not familiar enough with SELinux to create a PR.

[2022-05-06 17:46] zpytela commented on #1114
PR is the best approach, but you can also write it as a new issue.
Good thing about PRs is that there is a scratchbuild available in a moment, Checks->Artifacts->rpms.

[2022-05-06 18:21] edewata commented on #1114
OK. Is it possible for you to create the initial PR for this issue? I can test the RPM. If it's simple enough I might be able to create more PRs later.

[2022-05-09 17:55] runiq commented on #805
I'd also love to be able to use this. I'm fairly new to SELinux so I considered just adding an allow rule, but I'm not sure about the ramifications here.

[2022-05-11 09:50] fcrozat opened #1182 "wireplumber needs permissions to talk to bluez"
Bluez has a experimental feature for bluetooth battery service, relying on wireplumber and dbus (similar to fwupd and bluetooth which is already covered in the policy)

This is causing some selinux complains:
dbus-daemon[875]: [system] Rejected send message, 0 matched rules; type="method_return", sender=":1.72" (uid=1000 pid=4100 comm="/usr/bin/wireplumber" label="unconfined_u:unconfined_r:unconfi

[2022-05-11 14:01] zpytela commented on #1182
@fcrozat, can you show avc denials? With full auditing enabled if possible.
[code]

[2022-05-17 13:15] fcrozat commented on #1182
For some reasons, I can't reproduce the issue anymore. It might have been caused by an upgrade. Closing, I'll reopen if it reappears.

[2022-05-17 13:15] #1182 closed, assigned to nobody

[2022-06-03 23:59] alexpattyn opened #1222 "SELinux blocking homed"
See: https://bugzilla.redhat.com/show_bug.cgi?id=2036108

SELinux blocks homed and related programs from working properly. I.e. Setting up the `$USER.home` directory, etc.

Based on using the SELinux trouble shooter the following programs need updated polices:

1. systemd-homed
2. systemd-homewor
3.  dbus-broker
4. gdm-session-wor
5. gdbus
6. colord

I have the *.pp and *.te files having gone thro

[2022-06-04 00:04] alexpattyn commented on #1222
Looks like https://github.com/fedora-selinux/selinux-policy/pull/939 is working on this issue. And I assume doing a better job making proper policies than just accepting whatever SELinux trouble shooter gave me.

[2022-06-07 14:43] alexpattyn commented on #1222
Looks like this may be a little more complicated.

Trying enabling homed on another system, but this time with --storage=luks. Went through all the selinux troubleshooter prompts but if I leave SELINUX=enforcing I can't login. However, if I set it to permissive mode I can login.

Will take a look at if this has to do with enabling encryption or what.

[2022-06-07 14:44] alexpattyn commented on #1222
Should note I modified PAM the same way for both systems. Only difference seems to be LUKS, so it may have to do with issues mounting the loop back file.

[2022-06-17 00:10] sshambar opened #1238 "networkmanager_initrc_domtrans fails to use new script labels"
In policy 36+, the interface networkmanager_initrc_domtrans (contrib/networkmanager.if) is still documented to:

"Execute NetworkManager scripts with an automatic domain transition to initrc"

Which it does for NetworkManager_initrc_exec_t labeled scripts.

However, since NM scripts have been relabeled from NetworkManager_initrc_exec_t to NetworkManager_dispatcher_script_t - the current interface

[2022-06-24 12:05] brianjmurrell opened #1258 "Significant change for NetworkManager dispatcher scripts in f36?"
Before upgrading to F36, when I was on F35, all of my NetworkManager dispatcher scripts ran successfully and quietly (in regard to selinux).

Now after upgrading to F36, with selinux-policy-36.10-1.fc36.noarch I get a landslide of AVCs from the very same set of dispatcher scripts.  My audit.log has over 5000 AVCs in it currently.  Oddly though, they all say `permissive=1` at the end of them.

Has

[2022-06-24 12:26] brianjmurrell commented on #1258
Ahhh.  Doing some research, I have found an explanation (I think) for the `permissive=1`:

[code]

and indeed, all of my AVCs do have an `scontext` of `NetworkManager_dispatcher_custom_t`.  So I guess while I am getting slammed with AVCs (and the gnome-shell notifications they generate) my dispatcher scripts are at least running.

So what's the path forward here for users (i.e. not selinux policy

[2022-06-24 12:35] brianjmurrell commented on #1258
FWIW `sudo ausearch -m avc,user_avc,selinux_err,user_selinux_err -ts today --raw | audit2allow -M local_NM_dispatcher` on my machine produces the following policy:

[code]

And while I understand that all of the above is actually being permitted due to `NetworkManager_dispatcher_custom_t` being permissive, it would at least squelch the `audit.log` spam and the bazillion notifications I get on my G

[2022-06-27 10:39] brianjmurrell commented on #1258
Any comment here from the maintainers/devs of this project?

[2022-06-30 03:13] brianjmurrell commented on #1258
Is there really nobody from this project to can/wants to comment on this state of affairs.  It really is quite a nightmare for the users.

Some insight into the planned direction here would be most useful.

[2022-06-30 11:44] zpytela commented on #1258
The NetworkManager_dispatcher_custom_t type was temporarily set to a permissive domain to gather enough information while allow all the requested permissions. It will change soon in F36 and the denials will not be audited, the type will be unconfined instead.

[2022-06-30 11:48] zpytela commented on #1238
I am not sure what is the issue here. The interface still exists and works, just the dispatcher plugins transition to a different domain.

[2022-06-30 13:54] sshambar commented on #1238
Used as: `networkmanager_initrc_domtrans(mydomain_t)`

Old behavior: cmd running as mydomain_t - runs NM script (labeled NetworkManager_initrc_exec_t)  -> script runs as initrc_t

New behavior: cmd running as mydomain_t - runs NM script (now labeled NetworkManager_dispatcher_script_t) -> SELinux denies execute permissions on script.

[2022-07-04 13:13] brianjmurrell commented on #1258
It will change soon in F36 and most people's dispatcher scripts will fail and they will all have to become selinux policy experts in order to get their dispatcher scripts working again.

FTFY.  :-)

But seriously, a lot of dispatcher scripts are going to break given the (quite!) varied actions that I am sure many people are taking in their dispatcher scripts.  Are all of these people going to have

[2022-07-14 07:01] DerbyKurby opened #1282 "Unable to build target `policy`: 'syntax error' at token 'container_spc_stream_connect' on line 175053"
I'm unable to build this policy from source on CentOS 9 Stream and Debian Testing. Regarding the [INSTALL](https://github.com/fedora-selinux/selinux-policy/blob/rawhide/INSTALL) doc, I'm failing on the policy target...

[code]

This even occurs on different branches (e.g. `f36` or tag like `v37.6`). Regarding the Fedora build pipeline, there're many changes - maybe someone can give me a hint how t

[2022-07-14 08:43] zpytela commented on #1282
The interface is provided by container-selinux, you also need to install its sources.
https://github.com/containers/container-selinux

[2022-07-14 12:47] gyptazy opened #1285 "Unable to build `policy` when `DISTRO = debian`: tmp/base.fc.tmp:1166: unable to parse a file context line"
## Issue
When setting `DISTRO = debian` you may encounter issues regarding syntax errors when parsing `tmp/base.fc.tmp`
 file:

**Error**:
[code]
This works fine when setting to `redhat`.

## Config
**build.conf**:
[code]

## Output file
`tmp/base.fc.tmp`:
You can see the single quote in L6 that raises this issue:
[code]

Fixable in two ways by adjusting the parsing in a more complex way (for the

[2022-07-15 14:05] zpytela commented on #1132
Hopefully addressed now by https://github.com/coreos/console-login-helper-messages/pull/110 and https://bugzilla.redhat.com/show_bug.cgi?id=2080043; selinux-policy in F36, too, not sure about c-l-h-m. Keeping the issue opened.

[2022-07-19 17:32] cgwalters commented on #1258
I completely agree with you.  The dispatcher scripts should just stay unconfined.

[2022-07-25 13:52] zpytela commented on #1285
@vmojzis do you think this is correct behaviour?

[2022-07-25 13:53] #1285 closed, assigned to nobody

[2022-07-26 17:31] zpytela commented on #1282
Closing as there was no update in the past 2 weeks.

[2022-07-26 17:32] #1282 closed, assigned to nobody

[2022-08-04 12:13] zpytela commented on #1132
console-login-helper-messages-0.21.3-1.fc36.noarch seems to contain the update, so closing. Feel free to reopen it in case of outstanding issue.

[2022-08-04 12:13] #1132 closed, assigned to nobody

[2022-08-05 13:08] gyptazy opened #1312 "Native Debian Packaging Support"
## General
I'd really like to see an easy to use packaging support for the `fedora-selinux` policy for Debian based systems. This could make the life easier for many people who'd like to use `SELinux` (with a functional policy) on Debian based systems without struggling with the sources of this project.

## Packaging Solutions
### Debian
A possible way could be bringing this to Debian but I think

[2022-08-20 09:42] max-wittig commented on #1258
We're seeing the same issue. Any workaround possible other than disabling SELinux?

[code]

/cc @dlouzan

[2022-09-27 11:08] max-wittig commented on #1258
Seems to be fixed according to https://bugzilla.redhat.com/show_bug.cgi?id=2080043

[2022-09-27 11:59] zpytela commented on #1258
Right, please use selinux-policy-36.13-3.fc36 (from Aug 5th) or newer, you may also need to update other components. Also note for debugging selinux issues audit.log or audit entries in journal are needed. Later this week there will be another build of selinux-policy available for f36.

[2022-09-27 11:59] #1258 closed, assigned to nobody

[2022-09-27 14:08] brianjmurrell commented on #1258
Really?  That fix addresses the general concern in this ticket that NM dispatcher scripts can do any myriad of things and most are likely going to require users (probably a majority of which are not selinux experts) to create policy to allow?

I refer you back to the policy in https://github.com/fedora-selinux/selinux-policy/issues/1258#issuecomment-1165530832 that is necessary to allow the things

[2022-09-27 14:20] zpytela commented on #1258
@brianjmurrell with the system fully updated, do you still see any related problem in F36 or F37?

[2022-10-03 13:36] mrc0mmand opened #1424 "Can't build latest selinux-policy on Rawhide"
Our systemd+SELinux CentOS CI cron job started recently failing, since it can't build the latest SELinux policy. The fail can be easily reproduced locally on Rawhide:

[code]

[code]

Most likely caused by https://github.com/fedora-selinux/selinux-policy/commit/d96dd8f3d53575424d8a3ca66eda65fc3b32cfbd.

[2022-10-03 13:51] zpytela commented on #1424
You are right, I'll create a new build soon.

[2022-10-05 07:48] mrc0mmand commented on #1424
Today's cron job finished successfully-ish (at least the selinux-policy build passed), so I guess this can be safely closed. Thanks!

[2022-10-05 07:48] #1424 closed, assigned to nobody

[2022-10-05 07:51] zpytela commented on #1424
With the https://bodhi.fedoraproject.org/updates/FEDORA-2022-bb580c4386 update in place (2022-10-04 0621 UTC) new builds should pass, sorry for the troubles.

[2022-10-13 14:07] dngray commented on #1222
Did you have any luck with this? I was wanting to try out systemd-homed on Silverblue.

[2022-10-18 07:10] max-wittig commented on #1258
Seems to be fixed. Running stable on F36 since a few days.

[2022-10-30 04:56] orgcontrib opened #1449 "Unconfined process(es) should be allowed to write removable media !?"
I discovered this issue while trying to write an image onto an SD card using either gnome-disks tool or [FMW](https://developers.redhat.com/blog/2016/04/26/fedora-media-writer-the-fastest-way-to-create-live-usb-boot-media#). The error was ["Remote peer disconnected (g-dbus-error-quark, 4)"](https://forums.fedoraforum.org/showthread.php?326377-Error-on-benchmark-SD-card-quot-Remote-peer-disconnecte

[2022-10-30 21:58] orgcontrib commented on #1449
Test on a F36 LiveCD

[code]

[2022-10-30 22:22] orgcontrib commented on #1449
Test on a F37 beta LiveCD

[code]

[2022-10-30 23:03] orgcontrib commented on #1449
GNOME's Box preferred to "install" Ubuntu after it detected my downloaded ISO, so here's the test.
Spoiler alert: no crash, it worked as expected (gnome-disks wrote aka restored the image on SD card).

[code]

[2022-10-31 00:05] orgcontrib commented on #1449
Related [BZ2129555](https://bugzilla.redhat.com/show_bug.cgi?id=2129555).

[2022-11-07 14:39] zpytela commented on #1449
@orgcontrib, are there any AVC/USER_AVC denials audited or in the journal?

[2022-11-10 17:49] pv opened #1458 "Bluetooth GATT API partially broken by the policy"
BlueZ DBus APIs pass sockets fds via DBus, and these sockets can be either bluetooth socket or local unix socket.
For example, [org.bluez.GattCharacteristic1.AcquireWrite](https://github.com/bluez/bluez/blob/f65b4d5fc77f6ed23f79eebe37a3db6ef9f6cc7a/doc/gatt-api.txt#L119) returns an fd [which is a unix socket](https://github.com/bluez/bluez/blob/f65b4d5fc77f6ed23f79eebe37a3db6ef9f6cc7a/src/gatt-cli

[2022-11-12 19:54] orgcontrib commented on #1449
@zpytela not really. That was the first thing I looked for. Have you checked my first 3 comments above? Actually the first 2 are more relevant to Fedora. I revisited those comments today. I just copy/paste each (output) in a text file so I can show you the only visible clue.

`
[tux@dactuxone temp]$ grep ANOM_ABEND F36_LiveCD.txt
Oct 30 17:39:54 localhost-live audit[3451]: ANOM_ABEND auid=1000 uid

[2022-11-15 20:01] zpytela commented on #1458
@pv which process is it which runs in the unconfined_service_t context?

This is what we currently have in policy:
[code]

[2022-11-15 20:04] zpytela commented on #1312
@gyptazy I am sorry for the late reply. It seems to be a good idea, I'll give you my feedback soon.

Note in the policy sources we have a lot of literals like
[code]

[2022-11-15 20:16] zpytela commented on #1449
@orgcontrib Are you sure this is selinux-related? In the policy we seem to have the proper permissions allowed:
[code]

[2022-11-15 20:20] zpytela commented on #1238
@sshambar I am not sure what is the problem here. Do you have a custom policy for mydomain?

As you already know, the labels have changed and there are subsequent changes in the policy for NetworkManager dispatcher scripts.

[2022-11-15 21:52] pv commented on #1458
Sorry, yes, the `unconfined_service_t` was due to bluetoothd running as that due to customized configuration.

On unmodified Fedora 37, the behavior is identical, and the same AVC failure is also present, and occurs with `bluetooth_t` instead
[code]

[2022-11-16 07:47] gyptazy commented on #1312
Hey @zpytela,

no worries, thanks for your reply. Yes, I already saw this (that's how I encountered #1286 in the past). Currently, we're repackaging this. Feel free to provide further feedback how you'd like to have this, maybe I can provide further stuff here. At least, it would just lead into an additional `debian` folder (which includes the packaging instructions) within the projects root.

Che

[2022-11-16 12:28] sshambar commented on #1238
@zpytela Yes, I was trying to create a policy for a domain that needs to execute NM scripts... however, the current `networkmanager_initrc_domtrans()` interface only includes the following at contrib/networkmanager.if:127

`init_labeled_script_domtrans($1, NetworkManager_initrc_exec_t)`

As the NM scripts are now labeled NetworkManager_dispatcher_script_t, this does not actually allow execution of

[2022-11-16 15:06] zpytela commented on #1458
@pv thanks for the clarification; would you mind collecting denials with full auditing enabled?

0) setenforce 0
1) Open the /etc/audit/rules.d/audit.rules file in an editor.
2) Remove the following line if it exists:
-a task,never
3) Add the following line to the end of the file:
-w /etc/shadow -p w
4) Restart the audit daemon:
  service auditd restart
5) Re-run your scenario.
6) Collect AVC deni

[2022-11-16 16:50] pv commented on #1458
Sure, [ausearch.txt](https://github.com/fedora-selinux/selinux-policy/files/10023958/ausearch.txt)
The above was done after 18:42:30 in the log. Running the scenario produces the last line.

[2022-11-20 16:13] pv commented on #1458
You can reproduce this with e.g. bluetoothctl as follows:
[code]
Needs a BLE capable device that has a notifiable attribute however. A suitable `/org/bluez/hci0/dev_XX_XX_XX_XX_XX_XX/service00XX/char00XX` attribute dbus path can be found in the list-attributes output. For acquire-notify to work, the attribute-info must also show "Flags: notify". E.g. the BLE battery level indicator attribute is no

[2022-11-20 16:38] pv commented on #1458
The above denials occur when bluetoothd tries to pass a unix socket to the user program.

There's a second type of denial that occurs when the GATT API is used in the opposite direction, and bluetoothd calls AcquireNotify/Write to open a channel to the user program. In this case the above audit logging shows that running the scenario produces the line:
[code]
In this case, then `unconfined_t` proc

[2022-11-23 14:14] anonymouz commented on #930
@space88man Did you solve the selinux / machinectl problem? What config file can I use /or/ what selinux policy must I set? (with semodule?) Please be specific, after 2 decades of linux use I'm still a total selinux noob. Trying to solve this on Rocky 8.7...